[2019-09-19 07:02] emidiao opened #1 "complete example"
hello, do you have a complete working example with SCA?
thanks

[2019-09-19 07:06] ezet commented on #1
Hey! I am working on improving the examples. Also seems I forgot to include the examples here, but the most up-to-date examples currently are available here:

https://pub.dev/packages/stripe_sdk#-example-tab-

I am more than willing to assist you in setting it up though, and will add more documentation and examples as users ask questions :)

[2019-09-26 08:50] duzenko commented on #1
What is EphemeralKey and where do I get it from exactly? Is there a Stripe doc related to it?

[2019-09-26 20:00] ezet commented on #1
@duzenko https://stripe.com/docs/mobile/android/standard#creating-ephemeral-keys

But I'm updating the library as we speak, with some breaking changes. This removes the need for ephemeral keys when using SCA related features. Just finishing the documentation, then v2.0.0 will be published.

[2019-09-26 21:27] ezet commented on #1
A new version is published, with updated documentation and working samples.

[2019-09-26 21:27] #1 closed

[2019-09-27 07:07] duzenko commented on #1
You probably want to add a link to pub.dev as well in this github repo for user convenience?

[2019-09-27 07:16] duzenko opened #2 "Create a PaymentMethod in 2.0?"
My custom workflow for 1.x was this

[code]
where confirmSetupIntent is my own custom piece of code based on your similar function

[code]

Migrating to 2.0 I can't see how to create a createPaymentMethod from card details.
Please advise

[2019-09-27 07:21] duzenko commented on #2
If I merely attempt to use
[code]
then I get a stripe error `You cannot confirm this SetupIntent because it's missing a payment method. Update the SetupIntent with a payment method and then confirm it again.`

[2019-09-27 07:39] duzenko commented on #2
I can see that the function moved to StripeApi
[code]

[2019-09-27 07:39] #2 closed

[2019-09-27 08:00] duzenko opened #3 "Intended workflow with user-provided PaymentMethod & 3DS?"
I'm having a problem migrating the existing working code to 2.0

1. It's not clear how to provide a PaymentMethod into confirmSetupIntent. Here's how I do it
[code]
Please confirm if it's the intended workflow or advise of a better way.

2. If the setup intent returns with status 'requires_action' then how do I handle next_action? The package does not export the `handleSetupIntent` function that s

[2019-09-27 08:05] duzenko commented on #3
3. I made a mistake of not actually checking what handleSetupIntent returns.

But questions 1 and 2 remain.

Here's my code so far

[code]

[2019-09-27 09:32] ezet commented on #3
I will add a method on `Stripe` to handle your use-case, with a payment method, in the next update. For now, you need to use your suggested method to handle this, or alternatively, you can create the `SetupIntent` on your server with the `PaymentMethod` already set. Then you an use `Stripe.confirmSetupIntent()`.

I will also export handleSetupIntent and handlePaymentIntent. For now you need to cop

[2019-09-27 09:44] duzenko commented on #3
I assume you don't need to actually export the handleSetupIntent if you add a way to pass a paymentMethod to Stripe.confirmSetupIntent. It will likely be able to handle the payment action internally?

[2019-09-27 09:46] ezet commented on #3
Yep, but there might be other use-cases I'm not handling yet, so might as well expose it as it may be useful for others. :)

[2019-09-30 07:26] ezet commented on #3
Please report any issues so I can fix it. I'm not using every part of it in production, so I rely on feedback:smile:

[2019-09-30 10:35] duzenko commented on #3
Is there a new version on pub.dev? Can't see it

[2019-09-30 11:15] ezet commented on #3
No, not yet. Will have more time at the end of the week, and next week.

On Mon, Sep 30, 2019, 13:35 duzenko <notifications@github.com> wrote:

[2019-10-01 21:34] ezet commented on #3
Updated on pub.dev

[2019-10-01 21:34] #3 closed

[2019-10-02 00:50] krolaw opened #4 "Add stripeAccount to higherlevel api"
Hi, love the idea with this plugin. Alas, I am struggling. I create my payment_intent on the server. In my app:
  final api = StripeApi(publishableKey);
  api.stripeAccount = accountID;
Now I want to bring up the card entry widget so I can authorise the card against the payment intent. I have the client secret, but I'm not sure what method to call.
The Stripe api looks simpler (I think), but I can

[2019-10-02 07:42] ezet commented on #4
Currently, you need to create a payment method or card first, and then
provide its ID as an argument to the library methods, or set it on the
intent using your server. It does not support the full ui flow as the
Android sdk, yet.

On Wed, Oct 2, 2019, 03:50 Richard Warburton <notifications@github.com>
wrote:

[2019-10-02 08:01] duzenko opened #5 "Handling user cancellation with confirmSetupIntentWithPaymentMethod?"
This is the small issue I mentioned in the other ticket.

Basically the question is: how do we handle user aborting on the 3DS confirmation screen? I understand it's not something easily achievable using Intents on Android (don't know about iOS).

Still I would appreciate your suggestions. Suppose the the Stripe confirmation shows up in the web browser, and user instead of 'normal' procedure choos

[2019-10-02 20:07] ezet commented on #5
This is an issue, yes. The way I have handled it in my app is to simply display a modal dialog as soon as the user is sent to the browser app.
This modal dialog has options to cancel or retry the authentication/confirmation. If they finish or cancel the flow using the web controls, I close the dialog as they are returned to the app. If they closer the browser, or navigate back manually, they will

[2019-10-02 20:09] ezet commented on #4
What you want is to use `StripeApi.createPaymentMethod()` first, and then pass the resulting ID to `Stripe.confirmPayment()`.

[2019-10-02 20:11] ezet commented on #4
`stripeAccount` is not in use, and will be removed.

[2019-10-03 00:25] krolaw commented on #4
I did notice that stripeAccount was not being used in the api function calls. Alas without being able to specify the StripeAccount, this library will not be useful for platforms that act on behalf of other stripe accounts...unless I am missing something.

[2019-10-03 07:10] duzenko commented on #5
I would imagine a 'native flutter' WebView should be a solution, as long as it properly supports navigation events for the client. The question is, does such a flutter widget exist at all?

[2019-10-03 10:12] ezet commented on #5
No, not native, but it supports navigation events. However, web views do
not support deep links, do you can't detect when the user competes an
action in the view.

On Thu, Oct 3, 2019, 09:10 duzenko <notifications@github.com> wrote:

[2019-10-03 10:15] ezet commented on #4
I will look into connected accounts soon, as I need it in my own projects.
However, is connected accounts relevant for front end libraries? I don't
think so, that is a matter for the admin libraries, which is another thing
entirely

On Thu, Oct 3, 2019, 02:25 Richard Warburton <notifications@github.com>
wrote:

[2019-10-03 11:45] ezet commented on #4
After a quick investigation, connected accounts are not relevant for this library. Your backend service should handle anything related to connected accounts. This library is a flutter implementation of https://github.com/stripe/stripe-android
For your backend, you need to use the backend/admin libraries, which are available for many languages. If you think I'm incorrect, please let me know and lin

[2019-10-03 11:49] ezet commented on #5
That said, using a modal screen as described above provides a good solution to the problem. The modal can display some relevant text, e.g. "Payment in progress, please complete the payment to continue", with buttons to cancel and retry/reopen browser. This also prevents unnecessarily cancelling the payment intent if the user switches back to the app by accident, as they need to press "cancel" to c

[2019-10-04 12:44] krolaw commented on #4
Unfortunately, Stripe docs are particularly weak in this area. I had to contact Stripe support and they took a couple of days to figure it out. (I can forward you the support messages if you're really interested.) I have implemented card payments using using a webviewer, so I'll refer to the logic there - alas, I haven't programmed Java in decades, but would still prefer a more flutter native expe

[2019-10-04 13:22] ezet commented on #4
Got it, thank you for the detailed explanation! I'll implement this as soon
as possible. :)

On Fri, Oct 4, 2019 at 2:44 PM Richard Warburton <notifications@github.com>
wrote:

[2019-10-05 19:40] #5 closed

[2019-10-06 20:12] ezet commented on #4
I have released 2.2.0, which adds support for this. However, this adds the stripe account header to _all_ requests from that object, and I've not been able to test whether this causes any issues with certain endpoints. Please provide feedback if you discover any issues caused by this. A simple temporary workaround if any such issues arise is to use one object with stripeAccount, and one without it

[2019-10-06 20:12] #4 closed

[2019-10-09 22:26] krolaw commented on #4
Here's an issue:
[code]
[code]

Not sure what I'm doing wrong here. I'm not sure it's a good idea to enforce/use singleton's at all for this case. Wouldn't something like:
[code]
allow far more flexibility and be less error prone?

[2019-10-09 22:37] krolaw commented on #4
The workaround was:
[code]
Which seems like something is broken.

[2019-10-11 19:46] ezet commented on #4
Hey! Sorry you had issues with the API, I'll clean it up and fix the above.

You are correct regarding card details, this was meant as a fairly simple, low-level library.
But I'm actually in the process of finishing a small UI form to collect card details right now. It's fairly basic, but should be up next week.

Please let me know if you have any other issues or requests :)

[2019-10-11 22:37] ezet commented on #4
New version with a fix for your issue, and a basic card details form is up :)

[2019-10-14 00:08] krolaw commented on #4
Hi @ezet, thanks. I haven't had a chance to look yet. I now see the benefits of having one's own custom interface, although I made use of your cardnumber decorator. I would perhaps suggest having the widgets in a separate package and leave the API lib as just an API lib, then link to the widget lib in examples. I'll have a play prior to the next app update. Thanks.

[2019-10-18 04:46] isrishu opened #6 "CardForm has a submit button?"
Hi,
nice library. have been trying to use it but not being a flutter expert, got stuck.
where do I call below code?
onPressed: () async {
                if (formKey.currentState.validate()) {
                  formKey.currentState.save();
                }
}
and I am guessing your Card object gets prefilled when the form is submitted and then I can use that card to create a paymentMethod from car

[2019-10-18 04:52] isrishu commented on #6
when I tried to use the cardForm and a button to handle its validation in a column I am getting a layout error from flutter

[2019-10-18 07:50] ezet commented on #6
You can put the button anywhere you like, in the toolbar or below the form. You can use the `key` to access the state of the form from anywhere.

I am afraid I cannot help you with the layout error.

You are correct in that calling `key.currentState().save()` will populate the provided `Card`, and you can use `toPaymentMethod()`  to create the API data for a payment method.

[2019-10-18 07:55] isrishu commented on #6
i am not asking for layout help. I tried to put it in after you CardForm but the ListView that you have used in the cardform does not have the "shrinkWrap: true" property. So flutter throws a layout error like "infinite height" when i use another listview or column in my scaffold to put your form and then a button below it.

[2019-10-18 07:56] ezet commented on #6
Oh, I will test and fix that later. I have used a toolbar button in my own project, perhaps try that as a workaround ?

[2019-10-18 07:58] isrishu commented on #6
ok, thanks. i guess I will use a toolbar button or FAB then. thanks again man

[2019-10-21 19:24] ezet commented on #6
2.4.0 replaces the ListView in the form with a Column, so you can add the button now. There is a minor breaking change, please see the changelog.

[2019-10-21 19:24] #6 closed

[2019-10-21 19:25] ezet commented on #4
2.4.0 has split the library into two separate sub libraries as you suggested :)

[2019-11-05 19:53] angelocapone opened #7 "Customize FormField label"
Is there a way to customize a FormField label ?
I need to have them in Italian rather than in english
(e.g. I need 'Card number' in Italian)

[2019-11-05 21:06] ezet commented on #7
No, that is currently not possible. I'll add this in the next release, maybe this weekend.

[2019-11-06 08:13] angelocapone opened #8 "Card number validation issue with Test card"
I'm getting "Invalid number" when entering the Testing cards as per https://stripe.com/docs/testing
4242424242424242  VISA
5555555555554444  Mastercard

I'm using CardForm(card:card, formKey: formKey).

[2019-11-07 15:02] angelocapone opened #9 "the number form accept 17 numbers even if it shows only 16"
VISA has 16 number (e.g. 4242424242424242)
The Number form accepts extra numbers even if it shows only 16.
here's the debugging:
I/flutter ( 3947): 4242 4242 4242 4242
I/flutter ( 3947): 4242 4242 4242 42429

bool isValidCardNumber(String cardNumber) {

  print(cardNumber);

  String normalizedNumber = removeSpacesAndHyphens(cardNumber);

  print(normalizedNumber);

  return isValidLuhnNumber(norm

[2019-11-07 15:15] angelocapone commented on #9
I think this is related to masked_text_controller.dart

[2019-11-07 20:27] ezet commented on #9
This is probably the reason for #8 . I'll look into this when I have time :)

[2019-11-07 20:30] ezet commented on #9
I'm not able to reproduce this on demand tho. Do you have any steps to reproduce it ?

[2019-11-08 05:33] angelocapone commented on #9
To reproduce, I type more than 16 number in the Form field (even if it show only 16 on the screen).

[2019-11-09 22:34] #7 closed

[2019-11-10 22:15] ezet commented on #9
I'll fix this in the next release.

[2019-11-16 11:09] alanrauzier opened #11 "Translate error messages"
Hello, it would be great to enable custom error message (to be translated) in CardForm
Thanks fo this awesome package. I would be pleased to help you improving it :)

[code]

[2019-11-16 12:41] ezet commented on #11
Feel free to create a PR 😊

On Sat, Nov 16, 2019, 12:09 Alan Rauzier <notifications@github.com> wrote:

[2019-11-16 12:47] alanrauzier commented on #11
I would be glad, but I can't push any branch to your repository

[2019-11-18 22:06] #11 closed

[2019-11-18 22:12] ezet commented on #9
Fixed in 707c200444d0307d9964db25db6dd83d8bf05445

[2019-11-18 22:12] #9 closed

[2019-11-18 22:15] ezet commented on #8
Duplicate of #9

[2019-11-18 22:15] #8 closed

[2019-12-04 10:46] sgehrman opened #15 "Question about server side"
What do you use for the server side?  The ruby server that Stripe offers on their repo?  Or do you have your own?  Is there source code for this?

[2019-12-05 22:47] Isakdl opened #16 "Question about PCI compliance"
Since this plugin calls the stripe API directly, as I understand it users of this package would have to submit the most extensive type of PCI compliance documents, this one: https://www.pcisecuritystandards.org/documents/PCI-DSS-v3_2_1-SAQ-D_Merchant.pdf

https://stripe.com/docs/security#validating-pci-compliance

Do I understand this correctly? If so there should probably be a warning or informat

[2019-12-05 22:52] ezet commented on #15
Hey! You would have to implement your own backend for just, just as if you were using the native stripe SDKs. Their documentation is really good, so I suggest you start there.

[2019-12-05 22:52] #15 closed

[2019-12-05 22:59] ezet commented on #16
Actually, I'm not quite sure. If you send any card data to your own backend, then you definitely fall under the most extensive type of PCI compliance. But if you use the tokenization methods (and you should) to tokenize the card data first, and submit that to your backend, I think you can argue that it doesn't apply because you have never received or processed the data. But I am not entirely sure!

[2019-12-05 23:05] ezet commented on #16
A possible solution, if this is an issue, would be to rely on the native SDKs just for the tokenization methods. Even when using the native SDKs you are allowed to manually collect the card details on the device using your own methods. The important part is that the card details should never leave the device.

[2019-12-06 09:34] Isakdl commented on #16
And

Source: https://stripe.com/docs/security#validating-pci-compliance

To me it does indeed sound like you would have to pass the card details with the SDK unless you want to complete the SAQ D document. But that workaround might be enough.

[2019-12-06 11:08] Isakdl commented on #16
I had a chat with the stripe developer support and got this response:

and when I asked if it is out of the question to use my own form

So it does seem a bit dicey in my opinion.

[2019-12-06 13:32] Isakdl commented on #16
@ezet Have you used this package in a production environment? If so you should have encountered the PCI issue if there is one. Stripes makes a review of your implementation after 20 transactions and determine what you need to do.

[2019-12-06 16:33] ezet commented on #16
I have an app, but it's not in production yet. I'd like to find a solution to this tho, and will help in any way I can. I take it you have encountered this issue in production?

[2019-12-06 17:56] Isakdl commented on #16
I do not yet have the payment solution in production, so no I have not encountered this issue. I only encountered it by accident reading up on PCI compliance.

Sent a message the to PCI team at Stripe and got the following response:

https://dashboard.stripe.com/account/compliance
If you’re collecting your customers’ card details in another way, we’ll ask that you complete and upload the appropria

[2019-12-07 01:48] sgehrman opened #17 "Any plans to support a card reader?"
I want to access a card reader.  I tried Stripes android app, but it's buggy.  I don't think it looks that hard to implement, unfortunately the stripe javascript code is such a manged mess, it's not easy to figure out what it's doing, so it's not a easy port.  I may write this myself, but wanted to ask you first in case you had already done work on this.

[2019-12-09 01:39] sgehrman opened #18 "Warnings with androidx"
I enabled androidx and got this:

Launching lib/main.dart on Android SDK built for x86 in debug mode...
/home/steve/google/flutter/.pub-cache/hosted/pub.dartlang.org/stripe_payment-1.0.5/android/src/main/java/com/facebook/react/bridge/ReadableMap.java:42: warning: [unchecked] unchecked cast
            return new ReadableMap((Map<String, Object>) get(key));

[2019-12-09 08:49] ezet commented on #18
That is from a different stripe library.

[2019-12-09 08:49] #18 closed

[2019-12-09 20:36] ezet commented on #17
No plans for supporting card readers, sorry.

[2019-12-18 16:29] Isakdl opened #19 "Deeplinking, url and seem buggy"
I think it would be a good idea to be able to set the URL to use for deep linking as they should be unique.

Anyway, on android the link back from stripe seem to restart the app, this does not happen if you run `adb shell am start -W -a android.intent.action.VIEW -d "stripesdk://3ds.stripesdk.io"` in the terminal though.

On iOS I cannot get the linking to work at all, I have the data in info.plis

[2019-12-30 14:40] fvisticot opened #20 "Checkout support"
If I'm correct, the current plugin only allows to pay for a single product.
It seems not possible to by multiple products with the same session.
Can you please confirm ?

It seems that checkout API feature is required to manage a session with multiple products.
Do you plan to add checkout support ? any roadmap ?

[2020-01-10 17:47] ezet commented on #20
The SDK itself provides no facilities or restrictions for sessions. It is definitely possible to use it to buy multiple products at once. There are no plans to support the Checkout API at the moment.

[2020-01-10 17:49] ezet commented on #19
Hey! Sorry for the very late response here. Have you been able to get it working? I have tested and used it on Android extensively, but I have not had the chance to test it that much on iOS. I'd be more than willing to work out all iOS issues.

[2020-01-10 17:49] #17 closed

[2020-01-10 17:49] #20 closed

[2020-01-10 17:51] ezet commented on #16
I am not sure, no. I will see what I can find about this, as I definitely don't want to cause unforeseen issues for users.

[2020-01-10 17:59] Isakdl commented on #19
Hey!

It works well on android if you use chrome, not sure what to do about firefox but that seems to be a specific browser problem, but perhaps there is a need to pass in params in the deep link, so that we at the very least can open the correct screen again.

I still haven't gotten it to work on ios, you can rather easily navigate back manually though, so as an MVP it works.

I did, however, for

[2020-01-10 18:01] Isakdl commented on #19
The issue with firefox is that the app is launched as a new instance inside the firefox window, instead of actually going back to the app that is already running. Very weird behaviour.

[2020-01-10 18:33] ezet commented on #19
The uri for deep linking should already be unique, as it has a random component. It needs this random component in order to support multiple installed apps with the SDK, and also because a single app can launch multiple browser sessions. The first issue can be solved by letting the developer supply a unique uri for their app, but it cause issues for the second scenario unless there is a random com

[2020-01-11 18:08] lonewsk opened #21 "Creating custom Connect account through stripeApi.createToken() method"
Hi ezet,

Thanks for this library. It is, indeed, very useful.

I'd actually like to use the _createToken_ function to create an account token (for a Stripe custom Connect account) to pass on to my server.
Unfortunately, I can't find a way to pass the _'account'_ argument to call the API correctly.

Here's my code (pretty close to what I'm using in Javascript):
[code]

Hence the error I'm getting

[2020-01-12 09:43] ezet commented on #21
The library uses an API from September I believe, but that can be overridden.

I think you need to wrap your object in another object, with "account" as the key. Ref: https://stripe.com/docs/api/tokens/create_account?lang=node

[2020-01-19 07:52] sgehrman opened #22 "Needs a working example"
I have no idea what to do with your current example.

[2020-01-24 21:20] lonewsk commented on #21
Alright, wrapping it up in an "account" object worked for me. Thanks for the help!

[2020-01-24 21:20] #21 closed

[2020-02-11 17:39] joshuachestang commented on #22
I would agree. We need a working example of CardForm() too.

[2020-03-09 09:47] vkmaxcooldude commented on #19
I faced the same issue, but in my case, even Google Chrome browser doesn't return the Payment Intent to the application. The application seems to stop after It opens google chrome browser on android.

My AndroidManifest.xml is as follows-
`
<intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

[2020-03-20 08:11] ezet commented on #22
I have a complete working app that I will be adding as an example after some refactoring.
Meanwhile, you can also check out #24 until its merged.

[2020-03-20 14:03] sante85 opened #25 "american express not trigger cvv 4 digits"
If I write amex card

cvv digits permitted are 3 numbers

example

378282246310005 | American Express | Any 4 digits | Any future date

[2020-03-20 14:16] sante85 commented on #25
add listener on change card number to add correct image
getCardTypeIcon
and correct cvv validation

[2020-03-20 14:26] sante85 commented on #25
CardNumberFormatter is not implemented

[2020-03-22 07:21] ezet commented on #22
You can find a complete app example here: https://github.com/ezet/glappen-client

[2020-03-25 12:01] ened opened #28 "CardForm > Expiry does not support initial values"
[code]

The configured card form in the sample does not display the expiry date.
The code in `CardExpiryFormField` seems to be missing.

[2020-03-25 12:27] ened opened #29 "CardForm fields should jump to next field when done"
As a user, it would be nice to jump quickly through the form by pressing the next button on the bottom right of the keyboard.

[2020-03-25 12:33] DirkoOdendaal commented on #28
Thanks for the feedback @ened.

I'll create a pull request to resolve this.

[2020-03-25 12:47] DirkoOdendaal commented on #29
Thanks @ened

Fully agree. Busy working on a pull request for that now.

[2020-03-26 12:22] juanluishg opened #32 "SCA inside the app"
When you confirm the paymentMethon with
`    final paymentIntent = await Stripe.instance.confirmSetupIntentWithPaymentMethod(clientSecret, paymentMethod['id']);`

The app open a WebBrowser to confirm the payment, but are there any options to confirm inside the app? with a iframe or with the [ UI of Stripe](https://stripe.com/docs/payments/3d-secure#android) :

[2020-03-26 13:18] ezet commented on #32
Not using this library, no. There are other flutter plugins that wrap the android/ios SDKs out there.

[2020-03-26 13:18] #32 closed

[2020-03-26 13:46] juanluishg commented on #32
And what plugins can I use?

[2020-03-28 18:44] ezet commented on #28
Fixed in #33

[2020-03-28 18:44] #28 closed

[2020-03-28 19:34] #22 closed

[2020-03-28 19:47] ezet commented on #25
I'm not sure I get what you mean. CVV validation currently requires 4 digits for AmEx.

[2020-03-28 20:03] ezet commented on #19
@Isakdl @vkmaxcooldude Do you have any updates on this issue, what is the current state? I would like to fix these issues, but time is limited, so any help would be appreciated.

[2020-03-31 00:48] josxha commented on #32
@juanluishg Stripe provides a list with all known libraries for their service.
Have a look at: [https://stripe.com/docs/libraries](https://stripe.com/docs/libraries)

[2020-03-31 07:34] ezet commented on #32
You can also just search pub.dev for newer packages.

[2020-04-01 12:41] josxha commented on #19
I also came across the @Isakdl problem where the app is restarted when the authorization process is done with Firefox. This is probably a known problem with deep left of Firefox. I found a quite good solution at https://github.com/NativeScript/android-runtime/issues/712#issuecomment-287708559. They recommend to make the following change in the **AndroidManifest.xml** file: `android:launchMode="sin

[2020-04-01 13:07] josxha commented on #19
@ezet I have added `android:launchMode="singleTask"` with a note to the **ReadMe.me** file in my related Pull Request #34.

[2020-04-02 13:09] JohnWhite777 commented on #16
Hi there,
Probably I'm not the only person interested in what is PCI Compliance really is. I've  found this thread and decided to share some updated information. [Here’s](https://blog.verygoodsecurity.com/posts/what-is-pci-compliance/)  everything you need to know about PCI DSS and what it takes to obtain – and demonstrate – your company’s compliance. Hope this helps!

[2020-04-03 08:47] AlexandreRoba commented on #19
Hi all,
deep linking is done using the uni_link package which apparently has some issues on IOS 13+.
[Issue 53](https://github.com/avioli/uni_links/issues/53).
When trying to use the setupintentHandler the browser stay open.
Alex.

[2020-04-06 12:36] nmacherey opened #35 "SCA On web seams to not work"
Could you precise what should be the return URL for Web SCA ?
The url provided for android and iOS is not working.

Should I put any URL compatible with the web hosted URL. ?

thanks a lot
nicolas

[2020-04-06 13:13] josxha commented on #35
@nmacherey The SCA process opens a web page on which the transaction must be confirmed. The user is then redirected back to the app. This is done via a so-called deep link. If no own link is set, the default link "stripesdk://3ds.stripesdk.io" is used.

Examples for a custom link are:
- your-app://stripe.payment
- com.your-website.your-app://stripesdk.io

However, this link should be such that no

[2020-04-10 22:21] alexismoret commented on #35
Hello,
I recently use a Deep-link that redirect to my app as the return url SCA, the future function confirmSetupIntentWithPaymentMethod works fine but never finished, even if the setup intent is confirmed.
I'm running my app in Android X.
Any idea please ?

[2020-04-12 11:01] ezet commented on #35
@alexismoret I think I'll need more details to help you, or some code. If the setup intent is confirmed, I don't see how the method isn't finished. Are you using await ?

[2020-04-12 11:02] ezet opened #36 "Use package name as default deeplink host"
This will provide a more sensible default.

[2020-04-12 11:03] #16 closed

[2020-04-12 11:05] #25 closed

[2020-04-12 23:31] alexismoret commented on #35
Yes, I guess it's very strange but I think it's about that the app open stripe on chrome app to authenticate the intent and then return to my app by launching the "returnUrlForSca" which is a deep link, so maybe during the intent authentication the code is not running.

I have a FutureBuilder that take this future function:
[code]

This is my Stripe instance with the deep link :
`Stripe.init(strip

[2020-04-13 17:41] ezet commented on #35
@alexismoret What does your AndroidManifest.xml look like? Just the intents section.

[2020-04-13 17:45] ezet commented on #35
@alexismoret Could you try with a custom scheme? eg. `stripesdk://gfaim.page.link`
Remember to change both the initialization and the android manifest. These should not be http/https URIs.

[2020-04-13 18:01] #36 closed

[2020-04-13 20:03] ezet opened #37 "Make returnURL required"
A custom returnUrl should be required, not optional, to avoid uri collisions for deeplinks.

[2020-04-13 20:05] ezet opened #38 "Only the host part of returnUrl should be customizable"
Or assert that the scheme isn't an existing scheme, such as http or https.

[2020-04-13 20:06] ezet commented on #29
Fixed

[2020-04-13 20:06] #29 closed

[2020-04-13 20:31] nmacherey commented on #35
Thanks for your answer, my question is more or less regarding the web version for it... It works well on iOs and Android but on the web it never returns to the app. So what should the web url looks like ?

Thanks

[2020-04-15 20:42] alexismoret commented on #35
Now it works, that was just a problem of AndroidManifest.xml, Thanks ! 👍

However, my deep link is created and managed by Firebase, so it can only be https://domain.page.link, so what is the impact to have an https scheme instead of stripesdk scheme ?
Another "small" problem is that when authentication is finished on stripe, it open the deep link and then android ask on which application to open t

[2020-04-16 06:17] ezet commented on #35
Which applications do you have to chose from? If you get asked which app, its because there are multiple apps that are registered to handle that type of deep link. That might be one of the issues of using https instead of a custom scheme, not sure.

It's not possible to implement any other means of going back. A web view is actually worse, because web views do not support deep links. So it's not p

[2020-04-16 06:21] ezet commented on #35
I have not tried, or thought of, how this works on web. I would like to support it, but as of now I'd have to say it is not supported. If you happen to find a solution or suggestions, please let me know :)

I guess, for web, the return URL should be the actual URL you want the user to be returned to after completion. In other words, it's just a regular return url, not a "deep link" url.

[2020-04-16 07:04] ezet commented on #35
@alexismoret A deep-link using a custom scheme does not need to be managed by firebase. You can enter any URI you like, as long as the URIs in the manifest and Stripe.init() configuration match.

[2020-04-18 07:37] diegogarciar opened #39 "catching StripeApiExeption"
Hello, Im trying to catch the StripeAPIException but I think the class is not exposed.

so I can't do this
[code]
Can you expose it?

[2020-04-18 09:15] ezet commented on #39
You are right! I will fix this in the next release

[2020-04-18 09:41] #39 closed

[2020-04-19 09:07] AlexandreRoba opened #40 "ClientSeret on the app"
I looked at the latest version of the API and some method that I used for the SetupIntent have been marked as deprecated (`handleSetupInten`t).
You have now some new methods fully integrated for this (`confirmSetupIntentWithPaymentMethod` for example). But hose requires the clientSecret as parameter. Isn't this a security issue. Are those keys supposed to be on the mobile app? thanks for your help

[2020-04-20 12:19] ezet commented on #40
`client_secret` is the intended mechanism to work with intents. The use of `next_action` in `handleSetupIntent` is not officially supported, and is really an implementation detail of this particular library. The use of client secret is documented here: https://stripe.com/docs/payments/payment-intents#passing-to-client

In most cases, `Stripe.confirmSetupIntent(client_secret)` is the correct approa

[2020-04-21 14:40] long1eu opened #41 "Does this support Flutter web?"

[2020-04-21 18:28] josxha commented on #41
In my opinion, the package should work fine on the web because it is written 100% in Dart.
However, I personally have not tested it on the web yet, so I cannot speak with absolute certainty.

[2020-04-21 18:46] ezet commented on #41
As @josxha says, there is nothing that explicitly prevents it from supporting web. Alas, I have not tested it either. I'd like it to be officially supported, and suggestions, bug reports and PRs for web support would be appreciated.

I think you would need to set the return url to an actual URL in that case, instead of a deep-link style url.

[2020-04-21 23:53] long1eu commented on #41
I just tried it and it works perfectly.

Thanks for your work.

On Tue, 21 Apr 2020 at 21:46, Lars-Kristian Dahl <notifications@github.com>
wrote:

[2020-04-22 09:04] ezet commented on #41
Great!

[2020-04-22 09:04] #41 closed

[2020-04-23 10:25] Isakdl opened #42 "crashes when trying to handle next_action of type: use_stripe_sdk"
next_action in a paymentIntent can be two different types:

redirect_to_url or use_stripe_sdk.
https://stripe.com/docs/api/payment_intents/object

only redirect_to_url has a url key. This packages makes the assumption that all next_action are of type redirect_to_url and hence throws an error when parsing use_stripe_sdk.

Not sure if use_stripe_sdk can be handled in any graceful way? If not it woul

[2020-04-23 10:45] ezet commented on #42
"use_stripe_sdk" is not supported, and is only intended for native Stripe mobile SDKs. "use_stripe_sdk" action would only be returned if you specify this during the request, and should not be used in combination with this library.

I agree that I could add a better description for this, will do it in a future update.

[2020-04-23 12:25] Isakdl commented on #42
I see, but said paymentIntent was able to be handled by `Stripe.instance.confirmPayment(paymentIntentClientSecret)` why can that function handle it but not `Stripe.instance.authenticatePayment(paymentIntentClientSecret)` ?

My current flow is creating an off_session payment with a card that requires 3dsecure on all transactions. This paymentIntent gives the use_stripe_sdk next_action. If use_strip

[2020-04-23 12:36] ezet commented on #42
You should set a return URL server-side, pass the url returned by
Stripe.instance.getReturnUrl() do your backend, and use that :)

On Thu, Apr 23, 2020 at 2:25 PM Isak <notifications@github.com> wrote:

[2020-04-23 12:38] ezet commented on #42
An example of working backend implementations for this is available here: https://github.com/ezet/stripe-sdk-demo-api/blob/master/functions/src/handlers/createManualPaymentIntentHandler.ts

[2020-04-23 12:46] ezet commented on #42
The reason `Stripe.instance.confirmPayment(paymentIntentClientSecret)` works is because this method sets the returnUrl during confirmation. While your current server implementation most likely has `contirm=true` (the default) and needs this to be set immediately. In either case, returnUrl must be set before confirmation is attempted.

[2020-04-23 12:49] Isakdl commented on #42
I see, thank you very much for the input :)

[2020-04-24 09:24] phj7777777 opened #43 "Stripe.instance.confirmPayment does not handle "BACK" button pressed in web browser"
HandlePaymentIntent seem like only return value back to app when user complete or cancel the authentication process. Nothing will be return to the app if user press back button in the browser. Is this the expected behavior or I missed out anything. Thanks in advance.

[2020-04-24 11:32] ezet commented on #43
This is expected. I recommend displaying an overlay/dialog while payment is in progress, indicating that the user should complete or cancel the payment. You can also provide an explicit "cancel" button in the app and do the necessary cleanup there.

[2020-04-24 17:01] #43 closed

[2020-04-24 17:09] #42 closed

[2020-04-24 17:10] ezet commented on #38
This would break web support, as it uses a http/https scheme

[2020-04-24 17:58] josxha commented on #43
A shortened implementation of mine looks like this:

[code]

[2020-04-24 18:23] josxha commented on #38
@ezet How about this?
[code]
see: https://api.flutter.dev/flutter/foundation/kIsWeb-constant.html

This would also make it necessary to use an http / https scheme on the web.
Additionally, instructions about the web implementation could be included in the ReadMe.me for experimental web support (which it already is in principle).

[2020-04-24 21:00] ezet commented on #38
Great suggestion, that makes this entirely possible, and can even provide helpful error messages if used incorrectly :)

[2020-04-25 01:04] diegogarciar commented on #40
Hello, I'm here too about the deprecation of `handleSetupIntent`, In my app I was  passing to the function the returned `paymentIntent.next_action`.  Honestly I don't know the correct approach so if you suggest using `Stripe.confirmSetupIntentWithPaymentMethod` and its works,  I'll do that.

 @AlexandreRoba its ok to manage the client secret on the app, but you should not store it though.

[2020-04-25 02:52] diegogarciar commented on #40
Ok I reviewed your library and my code, I see that `handleSetupIntent` is used inside `confirmSetupIntent`, I use `handleSetupIntent` because I try to confirm the setupIntent from creation, so I already have the `next_action` variable

[2020-04-25 05:47] newbieflutter opened #44 "StripeApiException (You cannot confirm this PaymentIntent because it's missing a payment method."
Hi,
    Sorry I am very new to this integration. I am testing your example at the payment. So when I click Pay button I get this error StripeApiException (You cannot confirm this PaymentIntent because it's missing a payment method. Any help how to go about this ? I have check the logs has clientSecret value and status: requires_payment_method. Anything else is missing in the example?

[2020-04-25 18:15] ezet commented on #44
What example are you testing?

[2020-04-25 23:17] ezet opened #45 "Cleanup setup intent API"
Rename `confirmSetupIntentWithPaymentMethod` to `confirmSetupIntent` as this is the default, general case.

Rename `confirmSetupIntent` to `authenticateSetupIntent` so it aligns more with `authenticatePaymentIntent`, as they share similar behavior.

[2020-04-25 23:20] ezet commented on #40
Thanks for the feedback. I'll make sure to not remove any critical features without a suitable replacement. I understand your usecase, and will provide support for it, but most likely through a breaking change in v3.0

[2020-04-25 23:24] diegogarciar commented on #40
Thanks @ezet, and one question, on cloud function call to create the setup intent are you also confirming it on creation?

[2020-04-25 23:26] ezet commented on #40
@diegogarciar However, Stripe seems to suggest that you should create your setup intent immediately upon receiving an intent to create a payment method, e.g. when they enter a "add card" screen. And that you later confirm this intent using the collected details. https://stripe.com/docs/payments/save-and-reuse#android-create-setup-intent

That is correct, but I am actually changing this right now,

[2020-04-25 23:50] ezet commented on #40
@diegogarciar I have updated the example and server code. The example app uses both approaches now. The built-in AddPaymentMethodScreen uses the empty setup intent approach, seen here https://github.com/ezet/stripe-sdk/blob/08f213504a95084677b0f85f8a76d236bea3629d/lib/src/ui/screens/add_payment_method_screen.dart#L90

The stripe test cards use the other approach, where the intent is immediately co

[2020-04-26 00:09] ezet opened #46 "Feedback: PaymentMethodsScreen"
Please provide feedback on PaymentMethodsScreen here.

This is an experimental feature that provides a fully managed payment methods screen/flow.

[2020-04-26 00:12] ezet opened #47 "Feedback: CheckoutScreen"
Please provide feedback and suggestions for the CheckoutScreen

[2020-04-26 00:14] ezet commented on #35
Web works

[2020-04-26 00:14] #35 closed

[2020-04-26 04:53] newbieflutter commented on #44
Hi,
    I am testing the one paying with credit card.

[2020-04-29 15:41] peterjeffrey commented on #46
<img width="920" alt="Screen Shot 2020-04-29 at 8 40 00 AM" src="https://user-images.githubusercontent.com/33112393/80615902-2214c200-89f5-11ea-91ae-53dce854de51.png">

On Flutter Web, the card payment icon is a little off. Any idea how I can fix this? Thanks!

[2020-04-29 17:43] ezet commented on #46
Hmm, that certainly looks strange. I use a 3rd party library for the card, https://pub.dev/packages/awesome_card so you'd have to reach out to him.

If it doesn't work well I might have to look for another solution

[2020-04-30 06:39] ezet commented on #46
I will remove the dependency on a 3rd party library for this, such that all handling of credit card details will be kept internal to the library. I will also simplify the screen, to make it more inline with the UI of the official SDKs.

[2020-04-30 06:39] #19 closed

[2020-04-30 06:40] #40 closed

[2020-04-30 06:40] ezet commented on #44
Any issues in the example should be fixed now.

[2020-04-30 06:40] #44 closed

[2020-04-30 18:15] newbieflutter commented on #44
Hi,
   You are fixing the issue is it ? So when can I test it again?

[2020-05-05 15:58] loicgeek opened #49 "StripeApiException (The `payment_method` parameter supplied pm_1GcLIZF57NEHJIQ52C0rHX4K belongs to the Customer cus_H8cY8keUuLqMKN. Please include the Customer in the `customer` parameter on the PaymentIntent.)"
hello guys , I am trying to confirm a payment, but m getting an error,
 var resp = await Stripe.instance.confirmPayment(
            paymentIntent,
            paymentMethodId,
          );

[2020-05-05 16:19] josxha commented on #49
While updating my packages I came across the same error. Fortunately the problem is easy to fix:
[code]

Since a recent update, `paymentMethodId` has become an optional parameter. Therefore this adjustment must be made in your implementation.

[2020-05-05 16:26] ezet commented on #49
I am not sure the above solution will fix the error in the title. If it doesn't fix it, try setting the `customer` property when creating the payment intent on your backend.

[2020-05-05 16:27] josxha commented on #49
@ezet I just looked in the ReadMe.me under [SCA/PSD2](https://github.com/josxha/stripe-sdk#scapsd2) and saw that the old implementation is still documented here.

The line
[code]

needs to get changed to

[code]

[2020-05-05 16:35] josxha commented on #49
@ezet Oh right, sorry for my mistake.

[2020-05-09 12:00] loicgeek commented on #49
It is solved,the problem was on backend side

[2020-05-09 15:46] #49 closed

[2020-05-17 07:55] nyilkhan opened #51 "Flutter Web Support"
Does this plugin currently support Flutter web applications? I am trying to integrate a payment gateway into my Flutter web app and am trying to find this best way to do so.

[2020-05-17 11:07] josxha commented on #51
This is actually a duplicate to https://github.com/ezet/stripe-sdk/issues/41.
It should work fine because this package is written completly in dart. Have a look at the mentioned issue for more information.

[2020-05-17 18:58] nyilkhan commented on #51
How would I go about adding the UI elements for collecting payment information securely? I know Stripe offers the UI components in JavaScript, but not sure how to add this to my web app.

[2020-05-18 05:01] nyilkhan commented on #46
Any update on this issue?

[2020-05-18 09:54] josxha commented on #51
I'm not sure where exactly your problem is, but you might want to take a look at the sample project. It might have what you're looking for: https://github.com/ezet/stripe-sdk/tree/master/example

[2020-05-18 21:02] #51 closed

[2020-05-18 21:17] nyilkhan opened #52 "How to tokenize"
I am trying to tokenize a card and then create a payment method with it and confirm a transaction, however cannot seem to figure out how to do so. I need tokenization in order to comply with PCI guidelines as mentioned in the Stripe documentation.

Here is my code so far

final token = await StripeApi.instance.createToken({'card' : card.toMap()});
Map<String, dynamic> tokenMap = {

[2020-05-18 22:14] #52 closed

[2020-05-21 19:01] nyilkhan opened #53 "Payment Method Customization"
I am new to Flutter and Stripe and was wondering how would I go about customizing the payment method screen? I am currently using the example on my Flutter web application, and as mentioned before the view looks off. How can I make this look better or get rid of the picture all together?

Any advice on how to make this look better would be appreciated.

<img width="1050" alt="Screen Shot 2020-05-2

[2020-05-22 06:19] ezet commented on #53
At the moment, you cannot customize that particular part of the screen. However, what you can do is create own screen by copying the code from the SDK, and then editing the parts you wish to change. I realize this is not ideal, but I have not had much time to work on this recently. I am aware of the issue, and I intend to fix it, but web support isn't high on my priority list at the moment. If som

[2020-05-22 06:20] ezet commented on #46
I have not had time to fix this yet, but I'm watching the issue and have a few solutions in mind. Also, contributions for web support would be very welcome.

[2020-05-23 03:16] phj7777777 opened #54 "Unable to click "Return to Merchant" button after 3DS authentication completed in ios"
It seem like the "Return to Merchant" button was unable to click after 3DS authentication is completed which triggered by confirmPayment method. It is able to return to the app by clicking on "Done" button at the top left. I already added custom URL scheme into info.plist which are exactly same with the one in returnUrlForSca. This issue only occured in IOS as android will directly redirect user b

[2020-05-23 13:21] josxha commented on #54
Unfortunately I have not yet implemented and tested a complete payment process under iOS. But maybe my guess will help you. The "Done" button only closes Safari so that your app is visible again. However, the payment process of the app is waiting to receive a return url set by you before. This url contains important data that the app needs to continue.

But I think that this is where the error cou

[2020-05-24 07:21] phj7777777 commented on #54
Hi and thanks for replying. I try to copy the custom scheme url  and yes it able to bring me back to the app. I copied the url of  "Return to Merchant" page and open it in safari app. In Safari App,  the button is worked. So i am actually wondering if the problem would be cause due to using safari view controller?

[2020-05-24 14:34] ezet commented on #54
That is likely the issue. I don't own an iOS device, but on Android,
webviews do not support deeplinks, so you need to open the page in a native
browser app.

On Sun, May 24, 2020 at 9:22 AM phj7777777 <notifications@github.com> wrote:

[2020-05-24 18:58] magnus188 opened #56 "Adding optional FormField for cardholder's name"
Would it be possible to create an optional FormField for the cardholder's name in CardForm integrated with the animations on StripeCard that already exists?

[2020-05-24 19:00] sondresorbye0111 commented on #56
Wow, this would actually be really nice.

[2020-05-24 21:31] nordinenn opened #57 "Failed to retrive ephemeralKey from server"
Im getting this exception i dont know what im missing please someone help me

E/flutter ( 9427): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: Failed to retrive ephemeralKey from server
E/flutter ( 9427): #0      EphemeralKeyManager.retrieveEphemeralKey .

[2020-05-27 15:58] dngo10 opened #58 "Does this support Angular Dart ?"
I wonder if this package supports for Angular Dart ? It seems to support Flutter Web.

Thank you.

[2020-05-30 09:25] #57 closed

[2020-06-02 17:27] ezet commented on #58
I think the core parts (Stripe API) should support any dart library, however keep in mind that it depends on Flutter, and will pull flutter into your project dependencies.

I have plans of separating this into two libraries, one native dart library with the core stripe SDK, and one with Flutter UI elements.

[2020-06-02 17:28] #54 closed

[2020-06-02 17:45] ezet commented on #54
I'm assuming the use of webview was the issue. Please reopen this if I am mistaken.

[2020-06-07 06:06] emmaxCreative commented on #57
same error.. how did you fix it ?

[2020-06-07 11:05] nordinenn commented on #57
you should updgrade your firebase plan  .
because in free plan you cant call external api.

[2020-06-07 11:13] emmaxCreative commented on #57
it is already in the blaze plan. Nevermind. I will try something different then. Thanks.

[2020-06-10 09:35] vekexasia commented on #35
@ezet, I'm struggling as well to get this working on web. also it looks like I cant compile the example for web. Maybe i'm missing something.

[2020-06-10 10:03] vekexasia commented on #35
@ezet, to add some context, Basically it seems that on web, the flow correctly launches the SCA authentication flow. I guess listening with uni-links is the issue.

[2020-06-15 09:13] lzzy12 opened #59 "Add an option to handle SCA inside webview!"
Currently, the library opens a new browser window, but it would be better if there is an option to handle the SCA inside the app itself in a webview window!

[2020-06-17 09:10] emme1009 opened #60 "Please update DEFAULT_API_VERSION to 2020-03-02"
Could you please update the default stripe api to the newest one ?

[2020-06-19 17:50] ezet commented on #60
I'll do it for the next release

[2020-06-19 17:51] ezet commented on #59
I agree, but I haven't had time or ability to develop this for the web. PRs are welcome.

[2020-06-19 17:51] ezet commented on #56
Probably not, as the card form is a 3rd party library

[2020-06-19 18:08] lzzy12 commented on #59
Actually I'm not talking about web at all! I'm talking about Android itself. what I'm suggesting is that instead of opening a browser for SCA , having a webview inside the app which will avoid opening a browser and need for the user to leave the app improving UX.. The `launch` method of `url_launcher` takes in forceWebView and hence I tried doing this: https://github.com/lzzy12/stripe-sdk/commit/e

[2020-06-19 20:24] ezet commented on #59
Ah yes, webviews do not support deep linking. I tried that initially, but
it's not possible.

On Fri, Jun 19, 2020 at 8:08 PM Shivam Jha <notifications@github.com> wrote:

[2020-06-22 10:30] algirdasmac commented on #56
@ezet I think it should be possible because 3rd party library used [awesome_card](https://pub.dev/packages/awesome_card) for this package has this option.

[2020-06-23 05:39] antonkrasov commented on #54
@ezet hey, I had the same issue, here is how I fixed it: https://github.com/antonkrasov/stripe-sdk/commit/80cd1fcc5d9dd806d4b55b986c41cc22a1b182b2

@ezet thanks for your work! I probably have to make a pull request, but not sure if this fix will work for everyone, let's reopen this issue and wait for some feedback?

[2020-06-27 19:26] diegogarciar opened #61 "Create payment method from card with all available fields"
Hello,
I noticed on my dashboard that the address was not being collected even though I added it to the card object from which I created a payment method.

I did some research and it seems you are not using all the fields when creating a payment method on card.dart

[code]

Could you add all the remaining billing fields?
[code]

[2020-07-03 08:05] anik786 opened #62 "What parts of the return URL is customisable?"
For the return URL, in the docs its:

[code]

On the demo app, you used:
[code]

So what parts of the redirect URL is customisable.

For example could we do this:
[code]

[2020-07-03 09:52] josxha commented on #62
Yes you could and actually should.
A custom url scheme makes sense in any case, unless you use flutter web. Here you should use https.

P.S. Please make sure to add this to your manifest file and info.plist file accordingly.

[2020-07-03 15:57] anik786 commented on #62
So am I right in saying the entire URL is customisable? Including the scheme?

[2020-07-03 16:02] anik786 commented on #59
@ezet How about by adding an event listener and monitoring the URL address?

[2020-07-03 16:11] lzzy12 commented on #59
I tried to modifying the url_launcher plugin to override the `shouldOverrideUrl` method of WebView to call startIntent when the schema of the url is = getReturnUrlForSca(). However it doesn't quite work as it just re starts the app which isn't the expected behavior. I do not have much experience working with Android native. Maybe someone can guide me in the right direction. Here's my modification:

[2020-07-03 16:13] lzzy12 commented on #59
At this point I might consider just using the webview plugin of flutter to handle SCA on mobile devices

[2020-07-03 16:40] ezet commented on #62
Yes, that is correct

[2020-07-03 18:28] ghost opened #63 "Need some help setting up"
Hello everybody. I want to implement card payment into my flutter app but have no idea what i need to do. I read the classic android integration tutorial Stripe has and its all good but its different from flutter. Any help is precious.

Thank you

[2020-07-03 21:36] anik786 commented on #62
Great thanks.

[2020-07-03 21:36] #62 closed

[2020-07-09 16:48] anik786 commented on #59
@lzzy12 Tell me how it goes

[2020-07-09 18:46] DuncanKelbie commented on #54
@antonkrasov I came to the same solution but it would be nice not to launch an external browser.

I found that instead we can call `closeWebView()` just after `completer.complete(intent)`. It works for me but I've not thoroughly tested it

[2020-07-12 14:48] vodemn commented on #35
Can you please tell, how to setup this plugin for web?

[2020-07-12 14:51] vodemn commented on #41
Can you please tell, how you've got if working?

[2020-07-12 14:55] long1eu commented on #41
I suppose you first need to know how Stripe works as a product, the you can
use this link very easily. Check with Stripe Official documentation.

On Sun, 12 Jul 2020 at 17:51, Vadim <notifications@github.com> wrote:

[2020-07-14 17:56] eliudio opened #64 "Simple example"
Hi,

is there a hello world example. It would be good to have a bare minimum example flutter app that just accepts a payment. Plain and simple. Now it looks like a hard task to consider using this plugin. When I open the example app you provide, the first thing I stumble upon is some weird callback. Looks quite complicated to start with.

I currently use flutter_stripe_payment. My simple use of th

[2020-07-17 05:55] cch504 commented on #61
+1,  Is there a reason why this was omitted in the first place?

[2020-07-18 18:01] jeffaknine opened #65 "CardForm UI not rendering properly"
Hi, I'm using flutter web version 1.19.0-4.3.pre and stripe-sdk version ^2.8.2

When using the CardForm, the UI is not being rendered properly. See the following image
<img width="701" alt="Screen Shot 2020-07-18 at 7 59 35 pm" src="https://user-images.githubusercontent.com/11058286/87858861-3e0f6c00-c931-11ea-92ad-0d7f73d3b577.png">
<img width="701" alt="Screen Shot 2020-07-18 at 8 00 41 pm" src=

[2020-07-21 07:15] naveenyadav15 opened #66 "I want to add the billing details for Android. I can see the billing details in IOS but it is not showing for Android."

[2020-07-21 07:21] naveenyadav15 opened #67 "Difficulty in adding the billing details for Android."
I want to add the billing details for Android. I can see the billing details in IOS but it is not showing for Android. I am using method 'paymentRequestWithCardForm' and providing the hardcoded details for billing info but it is shown null for Android but not for IOS.
I tried to pass the information also when creating payment Intent into the data field of charges but error code: Parameter Unknown

[2020-07-21 07:22] #66 closed

[2020-07-21 07:26] #67 closed

[2020-07-22 00:26] varunbhalerao56 commented on #57
hi did anyone find what the issue was, even i am on the blaze plan

[2020-07-22 04:44] eswervarma commented on #65
Same issue   stripe-sdk version ^2.8.2

[2020-07-22 06:37] varunbhalerao56 opened #68 "Failed to retrive ephemeralKey from server/ How to use the CustomUserClaims"
Hi can someone help me with this, i am getting this error when i try to go into customers (note : I am using my stripe account)

The following assertion was thrown:
An exception was throw by Future<CustomerData> listened by

FutureProvider<CustomerData>, but no `catchError` was provided.

Exception:
Failed to retrive ephemeralKey from server

This is the error message i get in the flutter console

[2020-07-22 13:56] ezet commented on #68
I assume you have copied the backend code from my example? I set the
customer id as a user claim, but if you want to store it in a document
instead that's fine too. You just need to update the code to use that
instead of the user claim. You can read about user claims in firebase auth
docs.

On Wed, Jul 22, 2020, 14:02 varunbhalerao56 <notifications@github.com>
wrote:

[2020-07-22 18:32] ezet commented on #60
Just out of curiosity, are there any issues with specifying your desired version manually?

[2020-07-22 18:42] #60 closed

[2020-07-22 18:56] ezet commented on #61
Oversight on my part :) Will fix this in the next version

[2020-07-22 19:16] ezet commented on #61
Looking at this again, I don't think the "card" model should contain anything related to billing. If you want to add additional billing details, use `createPaymentMethod` instead of `createPaymentMethodFromCard`.

[2020-07-22 19:34] diegogarciar commented on #61
So are you also removing the address fields from `StripeCard`?

[2020-07-22 19:35] diegogarciar commented on #61
what about the name? that is also related to billing...

[2020-07-22 19:43] ezet commented on #61
Yes, I'm thinking that would be the cleanest way to do it. That would avoid future misunderstandings, and I'll also add documentation stating that any additional information should be added to the map before submission if required.

Yes, the name as well. Neither the name nor any other billing details are required for cards, as this is usually present on the customer the card belongs to. Providing

[2020-07-22 19:47] ezet commented on #61
Will the above solve your issue? Or do you think this is the wrong approach?

[2020-07-22 19:51] diegogarciar commented on #61
Yeah that solves it, I would just suggest that you remove the extra fields on `StripeCard` to avoid future confusions.
I'll prepare my code from now so the fields are still sent when the change occurs...

As background, I wanted to collect the ZIP code as I was receiving to many declines from banks, I thought I was adding it but I was unaware of this bug so declines continued, after overriding you

[2020-07-22 19:57] ezet commented on #61
That's interesting. We're using stripe in large scale, and have had 0 declines due to missing zip codes. Could it be that your customer objects are also missing zip codes? Granted, it might vary between countries/regions. I might look at adding billing details later through a different mechanism, but it doesn't strictly relate to the card model.

I also want to keep the library as lightweight and

[2020-07-22 20:03] diegogarciar commented on #61
Yes seems reasonable... And I'm not saving any address details to my customers as my guess is that only the payment method info is sent to the bank. For declines, banks will not say motives and just say charge seemed fraudulent, but adding the zip code as I've seen some other companies do seemed to make banks happy. (I'm using stripe Mexico)

[2020-07-22 20:05] ezet commented on #61
You are probably right. Will keep that in mind, maybe I can add better support for this somehow, outside of the card model. Thanks for your feedback! 👍

[2020-07-22 20:09] ezet commented on #56
I'm looking to remove `awesome_card` as it causes issues on web. The official android SDK from stripe does not include the name in its card widget, and I'm hesitant to spend time on this at the moment.

[2020-07-22 20:11] ezet commented on #59
@lzzy12 Any progress here? I've tried to get a webview working before and was unable to. I'll close this unless someone has made any progress.

[2020-07-22 20:11] #56 closed

[2020-07-22 20:11] #53 closed

[2020-07-22 20:12] ezet commented on #65
I'm aware of this. I'll look at replacing or removing this library alltogether

[2020-07-22 20:18] #45 closed

[2020-07-22 20:20] jeffaknine commented on #65
Any suggestion of a quickfix in the meantime ?

[2020-07-22 20:39] #37 closed

[2020-07-22 20:43] ezet commented on #65
It's not a "quickfix", but you can write your own widget to collect card
details, or use any other library you wish to use. You can then call the
StripeApi with a map of the card details using this library

On Wed, Jul 22, 2020 at 10:21 PM jeffaknine <notifications@github.com>
wrote:

[2020-07-23 04:12] lzzy12 commented on #59
I didn't get the time to work on it recently.. You can close it for now if you want. Maybe I will reopen it when I make some progress or just send a PR

[2020-07-23 21:39] GOSSII opened #69 "Received unknown parameter: card[exp_mont]. Did you mean exp_month?"
Unhandled Exception: Received unknown parameter: card[exp_mont]. Did you mean exp_month?

[2020-07-23 21:39] GOSSII opened #70 "Unhandled Exception: Received unknown parameter: card[exp_mont]. Did you mean exp_month?"
E/flutter (29815): [ERROR:flutter/lib/ui/ui_dart_state.cc(166)] Unhandled Exception: Received unknown parameter: card[exp_mont]. Did you mean exp_month?
E/flutter (29815): #0      StripeApiHandler._getStripeResponse (package:stripe_sdk/src/stripe_api_handler.dart:88:7)
E/flutter (29815): <asynchronous suspension>
E/flutter (29815): #1      StripeApiHandler.request (package:stripe_sdk/src/stripe_ap

[2020-07-23 21:39] #69 closed

[2020-07-24 04:38] varunbhalerao56 commented on #68
Yep i took your backend code, i have it such that the userID is the document id, and  i created a simple login and register, it seems to be able to call the function to create the user, but in the setupuser function log i keep getting this error

`Error: Invalid API Key provided: <sk_test*************************************************************************************************nXL>
    at In

[2020-07-24 05:07] AyoPrez commented on #70
Fixed here #71

[2020-07-24 05:42] ezet commented on #70
I'll release a fix for this tonight

[2020-07-24 05:44] ezet commented on #68
`functions.config().stripe.secret_key` is a method to read from the firebase function environment, so you would have to set the environment variable for it to work. https://firebase.google.com/docs/functions/config-env

[2020-07-24 05:44] #68 closed

[2020-07-24 18:32] ezet commented on #70
Fixed and released

[2020-07-24 18:32] #70 closed

[2020-07-25 12:53] AyoPrez commented on #65
I fixed this problem in a fork that I made of this library and of the "AwesomeCard" library.

In the "AwesomeCard" library, in the file "credit_card.dart", in the line 229, I replace the 3 for a 1

..setEntry(3, 2, 0.001)
..setEntry(1, 2, 0.001)

This fix the visualization problem and the card sees good in all the devices.

After fixed it I push and I link in this project my version of the "Awesom

[2020-07-26 09:41] eswervarma commented on #65
@AyoPrez fixed the same. Not a issue with Stripe-sdk but with the dependency of Awesome card.

[2020-07-26 09:54] ezet commented on #65
If you can make the maintainer of awesome_card update the library, I'll update my dependency on it. But I will most likely remove the dependency on that library in the future, and create a basic form to collect details without relying on a 3rd party plugin.

[2020-07-28 13:44] reallycannotsay opened #72 "Trying to implement login (stripe-sdk example)/ but getting Ticker error"
Hi, I am using the stripe SDK example and was trying to implement login, the customer screen shows the correct information and, I am able to navigate, but when I try to add the card I get the error mentioned below, I am kinda new to flutter. The app works completely fine if i have no login that's how i was able to add cards in the first place

[ERROR:flutter/lib/ui/ui_dart_state.cc(166)] Unhandled

[2020-07-31 12:55] DuncanKelbie commented on #59
@ezet I got webview working. I don't know whether it is a good solution or not but it worked for me.
See my comment at the end of https://github.com/ezet/stripe-sdk/issues/54

[2020-08-01 14:43] ollydixon opened #73 "What is locator.dart?"
The example has some unknown's in it, for example, what is locator.dart?

[2020-08-01 14:54] ollydixon opened #74 "Confusing APIs"
There's lots of unknowns and very confusing implementations of the API.

For example, what is this strange way to get the customer API version:

[code]

It's not clear what sort of json the server is suppose to return or what these functions are suppose to do.

Why can't it be
`CustomerSession.init('some string')` much easier to understand and implement.

Keep it simple.

[2020-08-02 17:46] imeDevelopers opened #75 "Very Hard to Setup ! , now i waste 8 hours for nothing in the end !!"
not clear example ..
no `paymentRequestWithCardForm` as i understand [here](https://medium.com/@hamza39460/stripe-payments-in-flutter-cb2f9cb053d1)

what is the different between the payment Method and payment Intent ? , why i can't simply send request payment by card details and amount ? .. instead of all this options (native,api,browsers) what is this ?

i need to send http/https request contain

[2020-08-05 12:45] chris-makaio commented on #54
awesome, thanks @DuncanKelbie  - I implemented the setupIntent with 3DS and found it hard to tell the user to tap "done" afterwards. Fortunately, we're already using url_launcher so this is basically the required code as a boilerplate for others and fyi:
[code]

[2020-08-07 00:09] eyoeldefare commented on #75
The guy is just too genius to understand regular developers like us understand his code. haha
He writes assembly code, what did you expect. He is too smart for this.

[2020-08-10 23:46] diegogarciar commented on #40
Hey @ezet I'm reviewing your notes as you have removed the handleSetupIntent method,

I already did
` final createSetupIntentResponse = await networkService.createSetupIntentWithPaymentMethod(paymentMethod); ` as in the example you posted above and after that you have

`var setupIntent = await stripe.confirmSetupIntent(createSetupIntentResponse.clientSecret);`

but from my side the function is dec

[2020-08-10 23:48] diegogarciar commented on #40
is it `authenticateSetupIntent` instead?

[2020-08-11 05:50] ezet commented on #40
Yes, authenticate should fit your needs here.

[2020-08-18 19:38] ResoDev commented on #73
The example app is using [get_it](https://pub.dev/packages/get_it) for dependency injection, so `locator.dart` is a service locator.
In this case, it just makes sure that you can access `CloudFunctions` and `NetworkService` as singletons.

[2020-08-29 12:24] Isakdl commented on #75
"what is the different between the payment Method and payment Intent"

You should read the Stripe api documentation to answer all these questions. This plugin is simply an implementation for the Stripe api. The reason for the payment intent is to help handle all different authentication flows that exists, such as SCA, 3dSecure etc. It also helps consolidate several different payment methods (cards

[2020-09-09 02:59] patrickboulay opened #76 "Error: Failed to retrive ephemeralKey from server"
Sorry to bug you about this issue but I get this error and I have no idea how to fix it.
I deploy de cloud functions in my existing firebase account (Blaze plan).
I try the app (Flutter web) locally and also hosted in firebase (same project as the cloud functions) and I still get this error.

The only changed I made is the _stripePublishableKey and the region (us-central1).

Do I need to modify so

[2020-09-09 11:28] eyoeldefare commented on #76
1) the ephemeral key comes from your server so you should have a dedicated server of your own that sends the ephemeral key to the client to initialize the customer session as it says in the documentation.
2) "The only changed I made is the _stripePublishableKey and the region (us-central1)." You also need to follow the stripe API to know how you can create an ephemeral key with your stripe secret

[2020-09-09 11:50] eyoeldefare commented on #74
Hey, we meet again on the other side of Github, haha.
Anyways, this is a singleton way of initializing the CustomerSession instance with the api version which is by default 2020-08-27. You're basically grabbing the ephemeral key from your server and initializing the session to create a checkout payment.
The reason it is not CustomerSession.init('some string') is because CustomerSession returns a `

[2020-09-09 11:51] eyoeldefare commented on #74
Hey, we meet again on the other side of Github, haha.
Anyways, this is a singleton way of initializing the CustomerSession instance with the api version which is by default 2020-08-27. You're basically grabbing the ephemeral key from your server and initializing the session to create a checkout payment.
The reason it is not CustomerSession.init('some string') is because CustomerSession returns a F

[2020-09-09 11:51] ollydixon commented on #74
@eyoeldefare haha yah I should delete this :-D

[2020-09-09 11:52] #74 closed

[2020-09-09 11:52] eyoeldefare commented on #73
Its a service locator using Get. You don't have to use it. You can create your own Service Provider which I will try to show an example sometime soon.

[2020-09-09 11:53] #73 closed

[2020-09-09 12:08] eyoeldefare commented on #72
I am a bit confused

I am a bit confused. What do you mean by "trying to implement login"? Can you please post the whole exceptions you're getting and just post it here. If things are loading indefinitely, that certainly means the API is not working correctly but I don't see any Network related exceptions here. I don't think this is an issue with the SDK as there are no other people experience you

[2020-09-11 17:25] rravithejareddy opened #77 "repository support"
Are you planning to provide support for long time? Because we may depend on you more.

[2020-09-13 18:24] ezet commented on #77
Yes, definitely. Also, the SDK is simple and flexible enough so it would work with most changes from Stripe. And it would be fairly easy to make changes yourself too, if required.

[2020-09-24 14:04] joseph-fox opened #79 "Webview doesn't close when 3DS is completed"
For iOS 14, the webview for 3ds doesn't automatically close once a user completes the 3ds.

Has anyone experienced the same issue?

[2020-09-25 02:36] patrickboulay-moonshothealth commented on #76
I use the cloud functions provided by https://github.com/ezet/stripe-sdk-demo-api. But it's seems to be a problem to call the cloud functions(on Flutter side). I am trying the example on Flutter Web, do I need to set a credentials or something like that?

[2020-09-26 11:08] algirdasmac opened #80 "Web and SCA flow"
Hi,

It seems that there is an issue on the flutter **web** with SCA flow - when you try to confirm setup intent ('confirmSetupIntent') future is not returned on the web in case you need SCA.

Let's say you have a card, that requires 3DS confirmation - a new window opens with additional steps that you complete. After completing the steps, you are redirected in this new window to your return URL so

[2020-09-29 19:52] patrickboulay-moonshothealth commented on #76
Finally the problem is that I was missing firebase settings in my index.html
https://firebase.flutter.dev/docs/installation/web

My bad, sorry!

[2020-10-01 11:47] EightRice opened #82 "What's with all this code?"
The only thing I need is to set up my Stripe API key and secret, send the payment details to the server and receive back an error or a confirmation.
Can you please make a simple example that includes comments and shows how to do that? I tried using the example you have on pub.dev and it doesn't resolve any of the custom objects you have in this library. Then I tried running this project as is, and

[2020-10-05 17:18] varunbhalerao56 opened #83 "Having an issue running on web (automaticpaymentintent) - need help/guidance"
Hi sorry to bother you guys but I am using the stripe SDK on an app and it works perfectly fine for the android and iOS. I am able to make the payment update etc, but for web, the code isn't running as should be. Below is the error when i login from WEB

it would be really great i can get help for this as google really does not show any search for this. If anyone has an example for web that is als

[2020-10-08 08:08] jonsamwell opened #84 "Any plans to add Native Apple / Google Pay?"
Thanks for the library it is very useful, do you have any plans to add Apple / Google pay?

[2020-10-11 11:14] SathishGovindaraju commented on #84
Would be the perfect complete package if it supports this.

[2020-10-13 16:44] ezet commented on #84
I can look into this next! I haven't had time to work on this for a while, but plan to find some time in the next weeks and going forward.

[2020-10-13 16:48] ezet commented on #82
This is a low-level client for the Stripe API, with a slightly more advanced client on top. It is pretty close to the official android and iOS SDKs from Stripe, and there is no way around requiring at least some sort of backend in order to handle payments. Whether you use cloud functions or another backend is up to you, the cloud functions are simply there as an example. You basically need to read

[2020-10-13 16:50] ezet commented on #80
I have unfortunately not had much time to test this with flutter web. I want to support web in the future, but in the current state it is not officially supported, all though I know some people have found it useful for web as well.

[2020-10-13 16:50] #80 closed

[2020-10-13 16:55] ezet commented on #54
Interesting, will look into this

[2020-10-15 15:13] romme86 opened #85 "Delete payment method functionality"
I would like to have a function to allow my user to delete a payment method he saved.

[2020-10-15 15:23] eyoeldefare commented on #85
That functionality is already supported. Checkout `CustomerSession.detachPaymentMethod(String paymentMethodId);`

[2020-10-22 02:16] eyoeldefare commented on #79
I think you guys might be missing stripesdk://3ds.stripesdk.io permission access inside android/app/src/main/AndroidManifest.xml and ios/Runner/Info.plist. Make sure to add those in like the doc says.

[2020-10-22 07:14] omartinma commented on #79
@eyoeldefare I have it both in Android and iOS. Is this working on iphone simulator or just real device? Should i add anywhere in the configuration my bundle id or similar for the redirect?

[2020-10-22 10:28] GyuriMajercsik opened #86 "By using this library will have a PCI Compliant payment integration ?"

[2020-10-22 10:37] ezet commented on #86
I think that depends on your implementation. If any sensitive information, such as card-data, is ever sent to your server, your system will probably have to comply with the PCI compliance in it's stricter forms. If you only collect card-details locally on the device, and can guarantee that these details never leave the device except for the call to Stripe to obtain a token, you are likely PCI comp

[2020-10-22 10:47] GyuriMajercsik commented on #86
Thanks @ezet  for the fast response.

I believe you can't get a `SAQ A` validation, which is the simplest way to be compliant.

Based on Stripe documentation from https://stripe.com/docs/security/guide#validating-pci-compliance:

[2020-10-22 12:45] GyuriMajercsik commented on #86
Thanks for your input on this.

[2020-10-22 12:45] #86 closed

[2020-10-22 12:58] eyoeldefare commented on #79
Hey, yeah I tested this on both IOS and Android simulators a while back and it checked out for me.
Stripe only requires you to register the host of your return url. Another possible issue could be you setting a different return-url on your server-side that conflicts with the client. Just make sure you're also using a similar return-url that you're using on the clientside so they don't conflict. If

[2020-10-22 13:03] omartinma commented on #79
I didn’t set anything about url, just copy pasted the info in the readme
for info.plist and manifest. Everything else is working fine just the
redirect in going back to merchant is not doing anything. I tried in real
device and same result.

Do you have a working example?

On Thu, 22 Oct 2020 at 14:58, Eyoel Defare <notifications@github.com> wrote:

--
Saludos.
Óscar

[2020-10-22 13:32] eyoeldefare commented on #79
You can look at the

You can look at my pull request example here https://github.com/ezet/stripe-sdk/pull/81

[2020-10-22 14:41] omartinma commented on #79
The only difference at least in the screenshots you provided is that the
3ds verification security is not done, so the Webview is not open and of
course you dont need redirect.

For me i have this screen:

[image: image.png]

If i click on Done, everything is fine, Return to Merchant is not doing
anything.

Regards.
Óscar

On Thu, Oct 22, 2020 at 3:32 PM Eyoel Defare <notifications@github.com>
wro

[2020-10-22 14:49] joseph-fox commented on #79
@omartinma I got the exact the same screen you've, and the info.plist is correctly configured, but the redirection didn't happen.

[2020-10-22 14:51] omartinma commented on #79
My info.plist is exactly like the example:

[2020-10-23 07:11] tstrg commented on #76
If you are using stripe-sdk-demo configured to your Stripe account,  don't forget to adjust Stripe Customer Id to the existing customer id in your Stripe account
https://github.com/ezet/stripe-sdk-demo-api/blob/9e788d3c3b90408c530f55f76de663de4c21eda0/functions/src/utils.ts#L66

[2020-10-23 07:58] omartinma commented on #79
BTW, tried on Android device and everthing working perfect so just iOS having this issue.

[2020-10-23 10:39] eyoeldefare commented on #76
@tstrg  Good example

[2020-10-23 10:47] eyoeldefare commented on #79
Interesting, might be a possible IOS update?
I believe everything was working a month ago. This can complicate things for those who have customers in EU regions especially needing strong auth.

[2020-10-23 10:49] omartinma commented on #79
I saw some people saying this issue is affecting just iOS 14. I dont have any device with another version so i can not try.

[2020-10-23 11:06] eyoeldefare commented on #79
I think you're right. Thanks for the heads up.

[2020-10-23 11:10] eyoeldefare commented on #79
It seems like we need to set up a Support Universal Links in IOS for this to work. Wow

[2020-10-23 11:16] omartinma commented on #79
Thats it is what i was scared of :)

[2020-10-23 17:58] eyoeldefare commented on #79
So guys, I checked out the codebase and we're actually relying on a package called `uni_links` to do the deep linking for us on both platforms so we don't have to get our hards dirty. The problem is in `stripe.dart` on `Future<Map<String, dynamic>> _authenticateIntent` method, where the uri must be failing to checkout. Unfortunately, I am just a student and have Windows on me for development, so I

[2020-10-23 18:05] eyoeldefare commented on #79
But then again, this is only to launch the uri, it should not have anything to do with returning to the app.
For people interested, just try to debug this anyhow and see what comes up.

[2020-10-23 18:06] varunbhalerao56 opened #87 "Example not running on web"
When I try to run the example in the repo on the web it does not work and gives the following error

Syncing files to device Chrome...
Debug service listening on ws://127.0.0.1:56847/86-ndmrkOw4=
Debug service listening on ws://127.0.0.1:56847/86-ndmrkOw4=
[log] NetworkService._call, getEphemeralKey, {stripeVersion: 2020-03-02}
Error: Failed to retrive ephemeralKey from server
    at Object.throw_

[2020-10-23 20:33] emme1009 commented on #60
@ezet Sorry for the late response. I did not know that I could set the version manually.

[2020-10-23 20:52] emmaxCreative opened #88 "How can I dismiss/clear the current PaymentMethodStore??"
Currently if an user loggs out of my app and logs in as anonymous user  (firebase) he is able to use the creditcards  of the previously logged in user.

Thats really bad. I tried to end the customer session with `CustomerSession.endCustomerSession();` but that doesn´t seem to help.
I also tried dismissing the PaymentMethodStore. But then the problem is that I cannot use it anymore until i restart

[2020-10-25 10:04] omartinma commented on #79
Thanks for the help, i will try to debug this.

[2020-10-26 12:48] hemang249 opened #90 "Are Native Pay (Android and Apple Pay) Subscriptions possible with this package ?"
I am trying to integrate subscriptions into my app, Are subscriptions possible using this package, I've tried going through the examples but it mainly deals with One time purchases. Any guide on how to integrate the Subscriptions using the Naitve Payment Methods?

[2020-10-26 12:48] #90 closed

[2020-10-26 18:29] SantyTaco commented on #79
Hi, I have similar issue but in a Flutter web app, I am clicking the complete button in the 3D secure page but that action do anything else. It keeps waiting for the response.

`Future<Map<String, dynamic>> confirmPayment3DSecure(String clientSecret, String paymentMethodId) async{

    Map<String, dynamic> paymentIntentRes_3dSecure;
    try{
      var response = await stripe.confirmPayment(clientS

[2020-10-26 23:56] yaizudamashii commented on #87
Getting exactly the same thing.  My flutter version

[code]

[2020-10-27 12:16] varunbhalerao56 commented on #87
Did you find any solution to this problem?

[2020-10-27 22:02] CiriousJoker commented on #87
Same error, exact same firebase version.

[code]

[2020-10-27 22:27] CiriousJoker commented on #87
@ezet I found the solution (want me to make a PR?):

The issue is just that the cloud function doesn't find the backend because the app isn't initialized in the `index.html`.

To solve it, paste this at the start of the body tag:

[code]

[2020-10-27 23:19] CiriousJoker commented on #83
Duplicate of https://github.com/ezet/stripe-sdk/issues/87

[2020-10-27 23:21] CiriousJoker commented on #75
Also wtf is wrong with you. You don't just insult people on the internet because the free stuff they provide you with doesn't suit your needs.

[2020-10-27 23:26] CiriousJoker commented on #76
Also, for Flutter web, you need to configure the backend properly, like in my comment here: https://github.com/ezet/stripe-sdk/issues/87 (I'm using the default backend, you can also provide your own)

[2020-10-28 00:12] varunbhalerao56 commented on #87
I tried it out it works for the example but in my own app with firebase auth and everything it fails other than that i also noticed that the sca when the new web page opens and you confirm the payment there is no return url that takes you back

[2020-10-28 00:34] #83 closed

[2020-10-28 02:38] CiriousJoker commented on #87
I might not get around to doing that for a few days and it's literally just a copypasten that @ezet can add via the web interface

[2020-10-30 13:31] budidino opened #91 "Weird behavior when embedding CardForm inside Step"
I've embedded the `CardForm` inside `Step` and have a couple of issues:
- weird blur effect
- breaking constraints front (card number pushes card provider logo off-screen)
- breaking constraints back (not even sure what happens here)

Video of how it looks like: [https://youtu.be/Bw5qoQlUU6g](https://youtu.be/Bw5qoQlUU6g)

I'm new to Flutter so I apologize if the issue is actually easy to resolve.

[2020-10-30 21:46] yaizudamashii commented on #87
With the copied firebase config in the `index.html` file the error of `ephemeralKey` goes away.  But when I try to use my own firebase backend with code uploaded from [stripe-sdk-demo-api](https://github.com/ezet/stripe-sdk-demo-api) I again get the `ephemeralKey` error.  Has anyone gotten it to work?

[2020-10-30 22:02] varunbhalerao56 commented on #87
I was able to get it working, did you change the default user which is hardcoded into the functions and connect your own database

[2020-10-30 23:11] yaizudamashii commented on #87
@varunbhalerao56 Thank you I got it to work.  There are quite a few things to check to make sure that the example works.  The steps needed are:

1. create a Stripe app if not exists, you will need to use the API secret key as a config variable in [stripe-sdk-demo-api](https://github.com/ezet/stripe-sdk-demo-api) as described in the README
2. Create an user in Stripe, put that user ID (should start

[2020-10-31 02:15] CiriousJoker commented on #87
@varunbhalerao56 Please don't close this until https://github.com/ezet/stripe-sdk/issues/87#issuecomment-717577505 is added to this repo.

[2020-10-31 02:16] CiriousJoker commented on #87
Also, I just realized that I can't create a useful PR since @ezet has to create new keys in the backend anyway.

[2020-10-31 07:58] ezet commented on #87
I will be looking into this the coming week, sorry for the slow response

[2020-10-31 16:01] emmaxCreative commented on #88
please help its really urgent...

[2020-10-31 16:31] CiriousJoker commented on #88
A workaround could be to clear the app data completely when logging out, but that's obviously far from optimal..

[2020-10-31 16:35] emmaxCreative commented on #88
The problem is I already clear all stored data. But the paymentMethodStore has no way to be cleared. Even after starting a new customerSession it still holds the creditcards of the logged out account.  After a complete restart of the app it seems to load the new ones.

Another thing is that it sometimes works on Android and I get the correct paymentMethods but it never works on iOS..

[2020-10-31 19:25] DryDoge commented on #84
Hello, it would be great to add this functionality :)

[2020-10-31 23:06] emmaxCreative commented on #88
nevermind I had to make my own solution of the paymentMethodStore and refresh it with the new CustomerSession because there was no way to do that in the existing one. Its working now after a lot of pain to find the error.

[2020-11-06 18:47] #82 closed

[2020-11-06 18:47] #77 closed

[2020-11-06 18:47] #85 closed

[2020-11-06 18:53] ezet commented on #88
I will look at a better solution for this :)

[2020-11-06 18:58] ezet commented on #76
Thank you for all your help and support @eyoeldefare and @CiriousJoker ! I will be spending some time on this project over the next week, let me know which issues you think are most important.

[2020-11-06 18:58] #76 closed

[2020-11-06 19:00] ezet commented on #87
The firebase backend was never meant to be used or distributed, it was just meant as a minimal implementation to be able to demo the SDK. I strongly recommend writing your own backends :D But I'll fix this so the example project will work on web

[2020-11-06 19:03] #75 closed

[2020-11-06 19:04] #72 closed

[2020-11-06 19:09] ezet commented on #64
The callback is simple and required by the Stripe API. I don't want to encourage bad or insecure practice by providing your secret key directly to the app.

[2020-11-06 19:09] #64 closed

[2020-11-06 19:10] ezet commented on #63
What is the problem exactly? The flutter SDK is not that different from the official Android SDK.

[2020-11-09 09:19] ristiisa opened #92 "Demo application wrong link"
It seems the demo application link should be https://github.com/ezet/stripe-sdk/tree/master/example not https://github.com/ezet/stripe-sdk/tree/master/example/app as listed in REDME.MD and pub.dev

[2020-11-10 19:21] ezet commented on #92
You are right! Fixed, will be updated in next release. Thanks :)

[2020-11-10 19:21] #92 closed

[2020-11-10 19:39] ezet commented on #88
There is one solution already supported, which requires that you manage the lifecycle of the store yourself. All methods that use a store optionally accepts a store as a parameter, and by default uses a singleton instance. If you use a DI framework, e.g. `provider` , it should be fairly easy to provide a new store each time a new user signs in.

However, without a DI framework or similar this will

[2020-11-10 20:26] #88 closed

[2020-11-10 20:43] #63 closed

[2020-11-13 19:57] #61 closed

[2020-11-13 19:59] ezet opened #94 "4.0"
Refactor StripeCard
Remove deprecated method `CustomerSession.endCustomerSession`

[2020-11-13 20:01] #94 closed

[2020-11-13 20:05] diegogarciar commented on #61
Nice! Should we add to that map the cardholder name?

[2020-11-13 20:10] ezet commented on #61
You will still have to add cardholder name manually, at least for now. The official Stripe SDK for android now also collects the postal code, but not the cardholder name, and I'm just following suit. If you are able, you could maybe look into if the official SDKs uses the logged in customers name as the cardholder name? But until then, cardholder is not provided automatically.

[2020-11-13 20:43] #38 closed

[2020-11-16 19:36] #87 closed

[2020-11-16 19:52] #65 closed

[2020-11-16 21:37] ezet commented on #46
This issue has been fixed, and all other feedback has been addressed. Feature is out of beta.

[2020-11-16 21:37] #46 closed

[2020-11-16 21:44] ezet commented on #84
It seems this shouldn't be too hard. I'm not sure I will have time to add this anytime soon, but based on some quick research it should be completely possible to implement this on your own, using existing google/apple pay plugins, and using the details from those payment methods to create a payment method in Stripe, using this library.

[2020-11-24 01:35] maylortaylor opened #96 "Cloud Functions is deprecated"
I'm trying to implement your plugin into my Flutter app and I'm greeted with this warning/error in my `locator.dart` file

'CloudFunctions' is deprecated and shouldn't be used. Constructing CloudFunctions is deprecated, use 'FirebaseFunctions.instance' or 'FirebaseFunctions.instanceFor' instead.  Try replacing the use of the deprecated member with the replacement.

 [Open documentation](https://da

[2020-12-01 12:26] tamirrab opened #97 "iDeal payment"
Hi
There is any example for iDeal payment?

[2020-12-04 10:58] sante85 opened #98 "Add Refund action"
Can you add refund action in your api?

Best Regards

[2020-12-04 12:28] ezet commented on #98
This is a client-side library. The Stripe API does not allow clients to issue refunds, that would create quite a few issues. You have to issue refunds from your server.

[2020-12-04 12:28] #98 closed

[2020-12-04 19:42] ezet commented on #96
I'll update this

[2020-12-06 00:07] eyoeldefare commented on #79
Possiable https://github.com/avioli/uni_links/issues/76

[2020-12-09 03:59] nouhouari opened #99 "confirmPayment"
Hi,

I would like to know how we can achieve the confirmation of the payment intent.

I'm trying to follow this guide: [https://stripe.com/docs/connect/collect-then-transfer-guide](https://stripe.com/docs/connect/collect-then-transfer-guide)

And I need some guidance on how to confirm the payment intent with a credit card and the client secret.
In my use case, when the user checkout an article, he

[2020-12-09 14:32] Zizico2 opened #100 "Web support in pub.dev"
In pub.dev this package is not marked with web support. Shouldn't it be?

[2020-12-09 15:22] ezet commented on #100
Ideally yes, but this library depends on a library that doesn't support web. And alltho that library isn't used for the web implementation, pub.dev tags it as not supporting web

[2020-12-10 18:03] markoselakovic commented on #79
Hi @eyoeldefare ,
I have the same issue. Android is working, iOS is not (I tested on version 14).
The problem is definitely in the links itself. I get the callback properly and my app gets updated after I click Complete authentication on the webview for 3DS, but the webview is just not closed.
I debugged the _authenticateIntent() and it seems to be working fine.

One thing that I noticed is the lo

[2020-12-11 02:35] eyoeldefare commented on #79
Hey there, yeah its really hard to say what the issue is.
This is platform specific issue and in some ways it shouldn't even have anything to do with this nor `uni_link` package at all.
Custom schemes are supposed to send you to your app and there isn't really any special code that is required once you register your custom scheme with apple. You're also not required to pass any specially params in

[2020-12-11 02:57] eyoeldefare commented on #79
I actually wander if we can confirm that `stripesdk://3ds.stripesdk.io` url works by calling it ourselves? Wanna give it a shot?

[2020-12-12 08:54] varunbhalerao56 opened #101 "works in debug mode, but on release apk does not redirect to a browser"
I am making an eCommerce application, the payment works properly in a debug apk but on a release apk it does not redirect to the browser.

[2020-12-13 11:48] ezet commented on #99
Yes, you can perform confirmation using this SDK. `StripeUI.confirmPaymentIntent()` should work

[2020-12-13 11:48] #99 closed

[2020-12-14 09:02] nouhouari commented on #99
Thanks. I've found how to do it.

[2020-12-15 05:53] #100 closed

[2020-12-15 05:54] ezet commented on #97
There is not, but I'm guessing you can implement it using this library. You will however need to write the `ideal` part yourself.

[2020-12-15 05:54] #97 closed

[2020-12-15 05:55] ezet commented on #101
I need additional details to be able to even start investigating this. Platform, hardware, library version ++

[2020-12-15 09:25] devapalanisamy commented on #79
@eyoeldefare yes. it opens the app if I enter the url 'stripesdk://3ds.stripesdk.io' on the browser.

[2020-12-15 09:41] devapalanisamy commented on #79
I can see a simple difference between iOS and Android behaviour. App opens the chrome to confirm the payment, then it redirects to the app on Android. App opens the webview (not the safari) to confirm the payment on iOS, then it can not redirect to the app because the webview is already inside the app.

[2020-12-15 10:01] devapalanisamy commented on #79
I think the issue is related to url_launcher. url_launcher property forceSafariVC is set to true by default. So this forces the app to launch the safari view controller inside the app. we need to make this property false on stripe.dart file.I test my changes and create a PR.

[2020-12-15 13:48] eyoeldefare commented on #79
Your info is so helpful, thank you for your hard work.
Please update us here if tests pass.

[2020-12-15 14:50] ezet commented on #79
Great, i will review and merge if it works

On Tue, Dec 15, 2020, 14:49 Eyoel Defare <notifications@github.com> wrote:

[2020-12-15 19:32] devapalanisamy commented on #79
@ezet I created [PR](https://github.com/ezet/stripe-sdk/pull/102)

[2020-12-20 09:35] devapalanisamy commented on #79
@ezet how can I help you to generate a new release with the latest fix?

[2020-12-22 04:37] preteambuy opened #103 "3ds Confirm Payment not opening WebView"
I upgraded the version to 4.0.0 and now when i try to confirm the payment for the 3ds, the webview isn't opening. Am getting the below error.

`'package:stripe_sdk/src/stripe.dart': Failed assertion: line 78 pos 12: 'kIsWeb == webReturnPath?.isNotEmpty ?? false': is not true.`

Sample code for confirmPayment:

`
     Stripe.init('key', returnUrlForSca: "stripesdk://3ds.stripesdk.io");

     await

[2020-12-22 14:16] ezet commented on #103
Are you compiling for web? If so, you should provide the return url in the method call each time

[2020-12-22 19:22] preteambuy commented on #103
@ezet - am not compiling for web. Am testing it on my mobile devices as well as the simulators and even "kIsWeb" returns false.

[2020-12-22 19:24] ezet commented on #103
I will investigate and fix this asap.

[2020-12-22 19:27] preteambuy commented on #103
thanks @ezet

[2020-12-22 19:54] ezet commented on #103
I am unable to test this myself at the moment. Can you please check if https://pub.dev/packages/stripe_sdk/versions/4.0.1-rc.1 works for you?

[2020-12-22 20:12] preteambuy commented on #103
@ezet it works on the RC branch.

[2020-12-22 20:19] preteambuy commented on #79
this works in the 4.0.1-rc branch.

[2020-12-22 20:30] ezet commented on #103
Great, I'll release it then, thanks 👍

[2020-12-22 20:33] ezet commented on #79
Yes, this has been released with 4.0.0 :)

[2020-12-22 20:33] #79 closed

[2020-12-23 18:27] ghost opened #104 "StripeCard.validateExpDate() fails when expMonth is below 11"
This is due to a bug in the following code:

`bool validateDate() {
    return _ccValidator.validateExpDate('$expMonth/$expYear').isValid;
  }`

For example, if **expMonth** is 01 and **expYear** is 12, and since **expMonth** is an **int**, the resulting String passed to **_ccValidator.validateExpDate** would be **"1/12"** instead of **"01/12"**, which fails while matching with **RegExp(r'((0[1-9]

[2020-12-27 16:23] musthafa1996 commented on #104
I have created a fix in this PR: https://github.com/ezet/stripe-sdk/pull/105

[2020-12-27 19:50] ezet commented on #104
Fixed in #105

[2020-12-27 19:50] #104 closed

[2020-12-28 16:23] devapalanisamy opened #106 "stripe-sdk works only with flutter beta"
I get the below error If I use stripe-sdk with flutter stable.

`../../../Development/flutter/.pub-cache/hosted/pub.dartlang.org/stripe_sdk-4.0.2/lib/src/ui/screens/payment_methods_screen.dart:151:39: Error: The getter 'ScaffoldMessenger' isn't defined for the class 'PaymentMethodsList'.
 - 'PaymentMethodsList' is from 'package:stripe_sdk/src/ui/screens/payment_methods_screen.dart' ('../../../Deve

[2020-12-29 16:40] alexandersokol opened #107 "Creating token for the bank account"
Hello!

I'm trying to create a token for the Bank account using stripe SDK with the following code:

`
StripeApi.init('pk_test_my_token');
accountNumber = "000123456789"; // Test bank account
routingNumber = "110000000";

final data = <String, dynamic>{};
      data[_kCountry] = _kCountryUS;
      data[_kAccountNumber] = int.tryParse(accountNumber);
      data[_kRoutingNumber] = int.tryParse(routi

[2020-12-30 17:54] funder7 commented on #106
Thanks, I was facing the same problem. Is there any workaround except of switching to beta?

[2020-12-30 17:59] funder7 commented on #84
@ezet you can take inspiration from stripe_payment package maybe, it supports the feature

[2020-12-30 20:02] devapalanisamy commented on #106
If you use only non-ui part of the package, you can import the model directly instead of importing stripe_sdk_ui.

I replace this `import 'package:stripe_sdk/stripe_sdk_ui.dart';` with this `import 'package:stripe_sdk/src/models/card.dart';`

This works only if you don't use experimental UI.

[2021-01-02 14:06] jaffakakes commented on #80
im having the same issue web sca is not working

[2021-01-02 20:02] jaffakakes commented on #103
im compling for the web and im getting the same problem, what do 'you should provide the return url in the method call each time' as i done it and still getting errors

[2021-01-02 20:36] preteambuy commented on #103
@jaffakakes are you providing the right return URL for the callback? Whats the return URL your providing?

[2021-01-02 20:38] jaffakakes commented on #103
@preteambuy im using http://3ds.stripesdk.io

[2021-01-02 20:44] jaffakakes commented on #103
@preteambuy ive also used my own url

[2021-01-02 21:11] preteambuy commented on #103
@jaffakakes can u pls the url ur using?

[2021-01-02 21:16] jaffakakes commented on #103
const _returnUrl = 'stripesdk://3ds.stripesdk.io'; also 'stripesdk://localhost:53418/#/
const _returnUrlWeb = 'http://3ds.stripesdk.io'; also http://localhost:53418/#/

String getScaReturnUrl() {
  return kIsWeb ? _returnUrlWeb : _returnUrl;
}
void main() {
  Stripe.init(_stripePublishableKey, returnUrlForSca: getScaReturnUrl() );
  runApp(MyApp());
}

and also called it every time I was about to

[2021-01-02 22:01] preteambuy commented on #103
const _returnUrlWeb = 'http://3ds.stripesdk.io'; also http://localhost:53418/#/

For the above on when you release your change "http://3ds.stripesdk.io" wont work unless you own the domain "stripesdk.io". Also for testing I doubt localhost would work. Try with a public IP and see if that helps

[2021-01-03 18:12] ezet commented on #107
Is `000123456789` a Stripe test account? You can only add pre-defined test accounts in test mode. Basically, the problem is exactly what is stated in the error; "You cannot use a live bank account number when making transfers or debits in test mode".

[2021-01-04 07:01] ezet commented on #103
You need to provide the returnUrl as a parameter to the 3ds-enabled method. e.g. `confirmPayment(clientSecret, paymentMethodId, webReturnUrl)`. It has been implemented like this because unlike the app-implementation, you likely want to re-direct to a different page based on the method used. Usually back to the same page the user came from.

Also, like @preteambuy says, you want to use your own dom

[2021-01-04 11:47] jaffakakes commented on #103
@preteambuy here is my code I've also tried using a public domain and i am still getting the same results so I went back using a local as it less hassle.
this is my code and what its output:
 paymentIntentXs = await confirmPayment3DSecure(clientSecret,paymentMethodId,Stripe.instance.getReturnUrlForSca(webReturnPath: '3ds/success' ));
print(paymentIntentXs);

 Future<Map<String, dynamic>> confirmPa

[2021-01-04 11:48] jaffakakes commented on #103
@ezet from what im getting my paymentintent and all is going thru its just not showing on the frontend

[2021-01-04 20:07] preteambuy commented on #103
@jaffakakes u can you try by providing a complete webReturnPath - something like http://urdomain/<return-path> not just '3ds/success' ?

[2021-01-07 08:56] joe-getcouragenow opened #108 "backend question"
Was looking at https://github.com/ezet/stripe-sdk-demo-api

SO the dart code calls this code, which then calls the strip server ?

I ask because i want to replace the firebase code with golang code so i dont need google firebase.

BTW thanks for making this flutter plugin. Having no native is a huge bonus, because we can then use it on web, desktop, mobile and embedded ( rasp pi, etc).

[2021-01-07 08:58] joe-getcouragenow opened #109 "mobile / web integration to call OS to get users credit cards installs at OS level"
I suspect i am asking is question the wrong way, but ...

On web browsers, there are specific calls to ask the OS for the users credit card that the OS saves i presume in the TPM / Cert store, etc.
Same goes for Mobile in many ways.

Since this is pure Dart, then i presume getting the users local cards is not possible ?

---

Braintree ( which paypal owns) seems to do it.... ?

https://pub.dev/pac

[2021-01-08 19:06] gorillatapstudio opened #110 "web confirm payment bug"
In V4.0.2/stripe.dart L118
    final data = {'return_url': getReturnUrlForSca(**webReturnPath: _returnUrlForSca**)};
Adding the bold text fixed the failure of payment intent confirmation on web app.
Please verify. Thanks!

[2021-01-10 08:45] ezet commented on #108
Yes, correct. Some calls are made directly from the library to Stripe, while other calls must be done from your own backend because they require the secret key.
And thank you :)

[2021-01-10 08:45] #108 closed

[2021-01-10 08:45] ezet commented on #110
Not able to confirm right now, but it looks like I've forgotten to add this. Will check and update asap.

[2021-01-10 08:48] ezet commented on #109
This functionality is out of scope for this library, but it might be possible to use other libraries to retrieve the required data, and then use that data with stripe sdk. I have not worked with these APIs so I don't know them well enough.

[2021-01-10 08:49] ezet commented on #106
Will look into this 👍

[2021-01-12 04:47] joe-getcouragenow commented on #108
Can i just confirm by using one of your examples please.

"confirmPayment" is called from https://github.com/ezet/stripe-sdk/blob/master/example/lib/ui/payment_screen.dart#L75, which is i presume being handled by this https://github.com/ezet/stripe-sdk-demo-api/blob/master/functions/src/handlers/confirmPaymentHandler.ts#L5 ?

SO the flutter code is calling the firebase function ?

[2021-01-12 17:52] ezet commented on #108
Correct. The firebase function then calls the Stripe API, and returns the response to the flutter client.

[2021-01-20 23:18] preteambuy commented on #106
any updates on this?

[2021-01-27 08:20] RaedJarrar opened #111 "credit_card_validator has broken stripe-sdk"
credit_card_validator has broken stripe-sdk. Please update the CC validator to the new syntax. Current work around used was to import: credit_card_validator: 1.1.0 in specific to make this work.

[2021-02-01 04:58] RtypeStudios commented on #111
I'm seeing the same:

../../../Tools/flutter/.pub-cache/hosted/pub.dartlang.org/stripe_sdk-4.0.2/lib/src/models/card.dart:55:38: Error: Too few positional arguments: 2 required, 1 given.
      return _ccValidator.validateCVV(cvc, cardType: cardType).isValid;
                                     ^
../../../Tools/flutter/.pub-cache/hosted/pub.dartlang.org/stripe_sdk-4.0.2/lib/src/models/card.dart:57

[2021-02-03 01:33] RtypeStudios opened #113 "card_expiry_form_field - Next Input Issue With onFieldSubmitted"
I've noticed on the CardExpiryFormField when clicking next it is skipping over any field that follows. This appears to be due to a change Flutter made to "TextInputAction.next" and the line ""FocusScope.of(context).nextFocus()". Which effective is cause next to happen twice.

Removing this line, fixes the issue:
    onFieldSubmitted: (value) => FocusScope.of(context).nextFocus()

There is a stack

[2021-02-03 01:35] RtypeStudios commented on #111
I think this could be easily fixed by limiting the upper version of credit_card_validator in the pubspec.yaml as a temporary solution.

Happy to create PR to do it?

[2021-02-03 18:03] ezet commented on #113
Will fix this for next release

On Wed, Feb 3, 2021, 02:33 RtypeStudios <notifications@github.com> wrote:

[2021-02-04 02:50] RtypeStudios commented on #113
If you give me instructions on how you want it fixed, I can give it a try and submit a PR :)

[2021-02-10 18:49] mariosemedo commented on #111
Workaround for now:

[code]

[2021-02-17 11:42] ezet commented on #111
Fixed by #112

[2021-02-17 11:42] #111 closed

[2021-02-17 15:57] p02diada commented on #106
any updates on this?

[2021-03-03 22:47] JayPerfetto commented on #111
When will this be pushed to Pub.dev?

[2021-03-04 13:12] josxha commented on #106
The problem was finally fixed with the release of flutter 2.

[2021-03-04 23:05] andreagr opened #117 "http package mismatch with latest firebase_storage version"
[code]

[2021-03-06 08:56] HathTech opened #118 "The return URL for web is not setting correctly"
I have made the changes to my fork but thought to share it if anyone is facing the same issue.

![Screenshot 2021-03-06 at 12 35 41 PM](https://user-images.githubusercontent.com/13694051/110201206-e73ab080-7e87-11eb-9850-cb5ef1d29cda.png)

[2021-03-09 01:36] bananagag commented on #117
The current dependency on http ^0.12.2 is not compatible with many latest packages which are compatible with Flutter 2.0, an update is needed.

[2021-03-10 10:16] predeepravi opened #119 "3ds Payment happens on browser instead of webview"
When the 3ds is inititated, the flow happens on the device browser instead of a webview.

[2021-03-10 19:51] ezet commented on #117
I will update this as soon as possible

[2021-03-10 19:53] ezet commented on #118
I will fix this next week

[2021-03-10 19:55] #106 closed

[2021-03-17 10:50] NarHakobyan commented on #84
Hi @ezet, thanks for writing such a great lib, what about plans to add this feature as well?

[2021-03-17 11:56] idrish-sorathiya opened #121 "Confusion between Publishable key and Secret key"
Hi,

Thanks for such a wonderful package.

I was exploring a library and document of it. I found that everywhere we have used word Publishable key and at most of the places code documentation is saying "[publishableKey] is your publishable key, beginning with "sk_"....." however, publishable key starts from "pk_" and Secret key starts from "sk_". so, which key is expected by library to work smooth

[2021-03-17 18:56] ezet commented on #121
Publishable key is the correct key to use. The secret key should definitely not be stored in the client.

[2021-03-17 18:56] ezet commented on #119
I am aware of this, might be able to fix this later, but it is not a priority for now.

[2021-03-18 07:30] lalkrishna opened #122 "Please Update package version"
Package version not updated after this commit.

https://github.com/ezet/stripe-sdk/commit/537008e6326ff78ad7be4cc543ff2dbbfb547848

Flutter still checking out old code.

[2021-03-18 11:26] Nico04 opened #123 "Update to credit_card_validator v1.2.0"
Please update credit_card_validator to 1.2.0, which is compatible with more cards types.
Thanks 👍

[2021-03-19 09:14] freewheelnat commented on #117
@ezet  First, thanks a lot for your plugin, it works very well in our app, and saved me a lot of work :-)

Any idea when you think you can update the dependencies?

[2021-03-19 09:36] BirjuVachhani opened #124 "Sound Null Safety Support"
Now that Dart's null safety is in stable, it is the right time to migrate this SDK to null safety.

[2021-03-21 19:33] atanascu opened #125 "Tags missing for previous releases"
I can see there are only two tags for 2.5.0 and 2.8.1.

Can you push the rest of the tags ?

[2021-03-23 11:37] ezet commented on #124
Yes, this will be added in the next major release.

[2021-03-24 11:05] varunbhalerao56 opened #127 "iOS, a small safari back button is shown after the SCA returns back to the app"
Currently using the automatic payment intent and redirecting the user to the browser. After I click confirm (Fig 1) I return back to the application and there is a safari icon on the top left of the screen which allows me to go back to the safari browser (Fig 2).

![image](https://user-images.githubusercontent.com/59999892/112300208-8c9cb380-8cd3-11eb-9bf0-ab6ef5d02e73.png)
![image](https://user-i

[2021-03-24 11:06] #101 closed

[2021-03-25 08:09] francislions opened #129 "Method confirmSetupIntent of StripeApi throws UnsupportedError (ver. 5.0.0-nullsafety.0)"
I'm trying to create and confirm a setup intent in the new version 5.0.0-mullsafety.0, but without success, the method _confirmSetupIntent_ of _StripeApi_ gives me this exception:
UnsupportedError (Unsupported operation: Cannot set value in unmodifiable Map)
The method _confirmSetupIntent_ is called with only the parameter _clientSecret_.
I'm using the _stripe_sdk_ from the 2.8.0, and i have even

[2021-03-25 09:59] ezet commented on #129
I will look into this. @josxha Maybe you have any ideas?

[2021-03-25 10:49] ezet commented on #122
Working on version 5.0.0 with null safety now

[2021-03-25 10:49] #122 closed

[2021-03-25 12:09] josxha commented on #129
My bad, I was not aware that the map becomes unmodifiable when I assign a default value to it.
Created https://github.com/ezet/stripe-sdk/pull/130

[2021-03-25 13:09] #129 closed

[2021-03-30 14:46] francislions opened #131 "Crash on iOS 12 (Missing CoreNFC framework)"
I'm trying to run the app on a iPhone with iOS 12.5.1.
The app immediately crash because of this error:

dyld: Library not loaded: /System/Library/Frameworks/CoreNFC.framework/CoreNFC Referenced from: /private/var/containers/Bundle/Application/87E45AEA-F9A7-4A7A-BBA3-2B2420EA2400/Runner.app/Frameworks/uni_links2.framework/uni_links2 Reason: image not found

I think the problem lies in the uni_link

[2021-04-06 19:56] jaredmoskowitz commented on #117
if any else is stuck, I found you can use the prerelease version
`stripe_sdk: ^5.0.0-nullsafety.0`

[2021-04-07 22:43] #127 closed

[2021-04-07 22:48] varunbhalerao56 commented on #110
Hey @ezet  any update on this, tried on the latest example the payment does not return success after authentication, and the data returned from the confirmed payment method is empty. @gorillatapstudio did try the above method but does not seem to work with the latest code.

[2021-04-08 09:15] ezet commented on #127
@varunbhalerao56 Did you find a solution to this issue?

[2021-04-08 09:16] ezet commented on #110
@varunbhalerao56 You are talking about the web platform here, right? I am unfortunately not able to spend much time on the web platform right now. If anyone has ideas, please share them

[2021-04-08 09:17] ezet commented on #125
I don't think I've tagged all of them. What do you need the tags for ?

[2021-04-08 09:17] ezet commented on #131
Is anyone else experiencing this issue?

[2021-04-09 05:45] ezet commented on #124
Fixed.

[2021-04-09 05:45] #124 closed

[2021-04-09 05:45] ezet commented on #123
Updated to 2.0.0

[2021-04-09 05:45] #123 closed

[2021-04-09 05:46] ezet commented on #121
Fixed.

[2021-04-09 05:46] #121 closed

[2021-04-09 05:48] #113 closed

[2021-04-09 05:49] ezet commented on #119
Duplicates #103

[2021-04-09 05:49] #119 closed

[2021-04-09 06:02] BirjuVachhani commented on #124
@ezet Wonderful. Thanks. 👍🏻

[2021-04-13 10:42] jainkunal opened #132 "Example doesn't work as it lacks stripe_ui.dart"
In the master branch the example doesn't work as it lacks `strip_ui.dart` mentioned in a few places. For Ex:
https://github.com/ezet/stripe-sdk/blob/04976ab3ef65f845ab0801865edec43338a67747/lib/src/ui/screens/add_payment_method_screen.dart#L10

[2021-04-13 12:53] DmitriyYakovlev commented on #132
Yes, I have seen this today too((

[2021-04-15 14:34] andreagr opened #133 "XMLHttpRequest error on CreatePaymentIntent"
On Flutter web 2.0.0 I get this error while trying to pay with the test **4000 0027 6000 3184**

I get this error:

[code]

[2021-04-21 09:51] vytautas-pranskunas- opened #134 "Project not compile after adding package"
I got this error

[code]

Any help would be appreciate.

[2021-04-21 15:41] josxha commented on #134
try using version 3.0.1 in your pubspec.yaml file. Make the following change to your dependencies:
[code]

[2021-04-21 15:47] josxha commented on #132
Oh, I haven't seen this issue in time. I suggested in https://github.com/ezet/stripe-sdk/commit/200a1787bafc4981ffc3bb17a549a2892ed7baa3#r49808198 that the file might not have been added to the commit.
A temporary fix is to make the following changes to your `pubspec.yaml` file:
[code]

[2021-04-21 17:01] vytautas-pranskunas- commented on #134
Why is that so?

On Wed, Apr 21, 2021, 5:41 PM Joscha Eckert ***@***.***>
wrote:

[2021-04-21 17:30] josxha commented on #134
The versions after 3.0.1 only worked in the beta channel at the time of the respective releases. Now Flutter 2.0 has been released, in which it should work again. However, this requires migrating your application to null safety.

However, there is no stable null safety release on pub.dev yet.
@ezet Maybe you could release another prerelease version to pub.dev when https://github.com/ezet/stripe-sd

[2021-04-27 16:37] Michele-x98 opened #135 "Possibility to remove the PostalCode field"
There's not the possibility to remove or don't display the PostalCode text field that in my case is not required.

[2021-04-27 18:38] ezet commented on #135
I'll add this when I have time

On Tue, Apr 27, 2021 at 6:38 PM MicheleBenedetti ***@***.***>
wrote:

[2021-04-27 18:39] ezet commented on #135
Feel free to create a PR for this

[2021-04-27 18:42] ezet commented on #133
I don't think this is related to this library. Please comment if you think it is.

[2021-04-27 18:42] #133 closed

[2021-04-27 18:43] ezet commented on #132
This is a mistake on my part, will fix it.

[2021-04-28 16:26] Michele-x98 commented on #135
I made a pull request

[2021-04-28 18:08] #135 closed

[2021-04-28 19:14] diegogarciar commented on #131
@ezet I haven't tested on that iOS, but I submitted my app and Apple required me to provide explanation for the usage for NFC with a video. I then realized it was uni_links2 was the culprit but I have no intention on using it.

I was using `uni_links` too but took your idea to use `uni_links2` for null safety support. I had to fork `uni_links2` to remove NFC and then forked your project to point `

[2021-05-03 07:29] lucaspal opened #137 "Cannot build with XCode 12.5"
The package is not compatible with the latest Apple CLang compiler, used by XCode 12.5, resulting in builds failing with the following error:

[code]

From a first look at the changelog from Apple (available [here](https://developer.apple.com/documentation/xcode-release-notes/xcode-12_5-release-notes)), the reason of the failure seems to be the following:

__________________________________
Detail

[2021-05-06 08:59] Alecsplus commented on #137
Any news on this issue? This unfortunately makes us impossible to adopt this plugin. Thanks for all.

[2021-05-06 09:29] ezet commented on #137
No, I am unable to debug the issue as I don't use Apple devices. Any
suggestions or PRs would be appreciated.

On Thu, May 6, 2021 at 10:59 AM Alecsplus ***@***.***> wrote:

[2021-05-07 07:17] lucaspal commented on #137
@ezet Could you add some labels to make that more explicit?

E.g. iOS, help wanted, bug

[2021-05-09 22:18] PaulCaroline commented on #134
I've been using Flutter 2.0, and had the same issue until I switched from stripe_sdk 4.0.2 to the [null-safety pre-release](https://pub.dev/packages/stripe_sdk/versions/5.0.0-nullsafety.0).
____
dependencies:
  ...
 stripe_sdk: ^5.0.0-nullsafety.0
____
 Everything seems to be compiling now. I hope that helps.

[2021-05-16 17:08] atanascu commented on #125
For example I would like to fork and change the latest release in order to try and fix this [issue](https://github.com/ezet/stripe-sdk/issues/131)

[2021-05-25 10:06] josxha commented on #134
@PaulCaroline This works as long as you don't use `confirmPaymentIntent()`. There is a small bug that has been fixed in https://github.com/ezet/stripe-sdk/pull/130 but is still not available on pub.dev.

[2021-05-25 10:35] josxha commented on #132
Fixed in https://github.com/ezet/stripe-sdk/commit/6cd4e06497fdd8480d604c39804fb1f096ac8a13 and can be closed.

[2021-05-25 10:41] josxha commented on #124
Calling to reopen, as no stable null safety support exists on pub.dev yet.

[2021-05-25 10:49] josxha opened #138 "Publish bug-free version to pub.dev"
Hi @ezet, I have just seen that many users experience problems with the package, as there is no current version available via pub.dev that is without errors.

The current stable release on pub.dev `4.0.2` has the following critical problem:
*Project not compile after adding package* https://github.com/ezet/stripe-sdk/issues/134

and the prerelease version `5.0.0-nullsafety.0` has this problem:
*Me

[2021-05-25 10:56] josxha commented on #138
https://github.com/ezet/stripe-sdk/issues/131#issuecomment-828712632

In this context, **uni_links2** could also be changed back to **uni_links**.

[2021-06-08 23:43] lchwe commented on #119
is this really a dupe? ios and android (not web) 3ds authentication used to happen in a webview within the app, now it takes you to the device browser, which still works but its not ideal.

[2021-06-09 08:00] PositronicBrain opened #140 "Error when using `authenticatePayment` and 3dsecure on Android"
I am trying to validate a payment with 3dsecure. I pay with a stripe test credit card number: `4000000000003063`. The backend returns me a request to authenticate and a pi secret `"pi_........"` which I pass to `authenticatePayment`:
[code]
This should open a webview with the authentication method I suppose? But instead the app crashes

[code]
I am not sure if this is a bug or if I am doing someth

[2021-06-09 13:32] lucaspal commented on #137
@ezet I am closing this issue since the error that I had was not related with this library.

There is, in fact, no way this package can be broken on newer versions of XCode, being this a native Dart package and, thus, not containing any native Swift code.

In my case, there was another package that was using an outdated version of the native Stripe SDK (iOS) and that was the one breaking the build

[2021-06-09 13:32] #137 closed

[2021-06-11 13:27] PositronicBrain commented on #140
In found out that this is a duplicate of https://github.com/ezet/stripe-sdk/issues/42 however I would like to point out that not supporting "use_stripe_sdk" is very limiting for users. I have to interface with Magento and I cannot use this library for that, precisely because of this issue.

[2021-06-12 11:56] gauravmehta13 commented on #110
@gorillatapstudio  @varunbhalerao56  @ezet   Hi guys, is this plugin working for web?

[2021-06-18 05:06] varunbhalerao56 commented on #110
Hey, @gauravmehta13  I got to know the reason as to why it is not working. It is due to the uni_links package.

I have created an issue in that package but no response yet. I don't think there is a way to implement it easily unless this is solved.
https://github.com/avioli/uni_links/issues/117

In the end, I just switched to Stripe checkout instead.

[2021-07-05 05:27] Gregortega commented on #134
I was having the same issue, but I have other dependencies in my project and Im unable to update to null-safety for now. So I opted for downloading the repo, and adding it to the project locally and simply modifying the code causing the issue which is the card validator packaged, in the card.dart model. I know is not ideal, but it is a temporary solution until I can migrate. This solved it for me,

[2021-07-11 13:40] danielo17 opened #142 "returnUrlForSca: How to se up a dynamic link (with format https://...) when kIsWeb=false"
Hello,

I'm busy with a stripe integration with stripe-sdk. Great library btw.

I need to have my app 3DSecure ready, therefore I'm testing with cards forcing the extra authentication step. A dynamic link is supposed to bring back the user to the app once this is done.

Everything works fine for me, except that I don't manage to set up the dynamic link, because the library seems to be forcing NOT

[2021-07-16 07:12] iamaz007 opened #143 "No such payment_intent: 'pi_xxxxxxxxxxxxxxx'"
I want to integrate stripe connect with my app.
After getting client secret when I pass it to the retrievePaymentIntent() method It gives me error
![error](https://user-images.githubusercontent.com/53218172/125907402-dbbf1838-4686-4e67-a7ed-9de719ab52e7.png)

`ERROR_CreatePaymentIntentAndSubmit: No such payment_intent: 'pi_xxxxxxxxxxxxxxxxxxxxxxxxx'`

[2021-07-21 00:09] dalton5 opened #144 "Cardfield screen error"
Hi,

I setup everything. The app is launching

But I have this error:

I can't find any clues on what is wrong.

Can you help? I struggle since 2 hours on this.

D/EGL_emulation(26511): eglMakeCurrent: 0xe566a8a0: ver 2 0 (tinfo 0xda105ad0)
W/View    (26511): requestLayout() improperly called by android.widget.ImageView{a7e2c6a V.ED..... ......ID 0,0-84,55 #7f080146 app:id/icon} during layout: run

[2021-07-21 00:15] #144 closed

[2021-07-21 16:19] cybertheory opened #145 "Awesome Card Widget not Showing"
Hi! I am using the pre-release version 5.00-null-safety in my app, as this is what only works with the latest firebase packages! The awesome card widget does not appear to be appearing on top of the Cardform? Why was this taken out in the new version?

[2021-07-26 19:08] justoke opened #146 "RangeError using DEFAULT_API_VERSION error retrieving ephemeral key"
According to my Stripe dashboard the API version is 2020-08-27, whereas the DEFAULT_API_VERSION is 2020-03-02. I get the following error on startup using the example Flutter app. Is there a way to specify the API version as part of the initialization?

![image](https://user-images.githubusercontent.com/26506785/127044398-9dccf52d-9dec-42e0-9947-1e1880de79eb.png)

[2021-08-23 13:32] nouhouari opened #147 "Postal code only accepts numbers"
https://github.com/ezet/stripe-sdk/blob/b4e027a18e177653f9d0ad3931f71c9e26711901/lib/src/models/card.dart#L25

Postal code only accepts numbers but some countries include letters in their Zip code.
The library should allow the user to specify how to validate the zip code.

[2021-12-12 21:01] justoke opened #148 "Credit Card Number AutofillHints.creditCardNumber shows full keyboard on iOS"
In the CardNumberFormField component  there seems to be an issue with the interpretation of the input format as defined by AutofillHints.creditCardNumber. On Android devices a numeric keypad is displayed as expected, however on iOS devices the full keyboard is shown. To test this, I used the AutofillHints.telephoneNumber for the autofillHints and this correctly shows the numeric keypad in both And

[2021-12-30 07:16] vinnytwice opened #149 "Update dependencies to latest versions"
I'm trying to integrate stripe-sdk in my project but the actual version depends on old versions as `http: ^0.12.2` while other packages I use are depending  on newer versions for example..

 `http: ^0.12.2` ->`http: ^0.13.4`, ` url_launcher: ^5.7.10`  -> `url_launcher: ^6.0.12`,  `flutter_slidable: ^0.5.7` -> `flutter_slidable: ^0.6.0`.

 Any way to bypass this while the package has not updated to

[2021-12-30 08:08] vinnytwice commented on #134
@ezet so pulling the package from GitHub instead won't have the `confirmPayment` problem? Any particular branch or just the master would do?
 Many thanks

[2021-12-30 09:40] vinnytwice commented on #149
after reading https://github.com/ezet/stripe-sdk/issues/134#issuecomment-847736659 I just add it to my yaml file as
´´´
stripe_sdk:
    git:
      url: git://github.com/ezet/stripe-sdk.git

[code]

[2022-01-04 15:42] jbryanh commented on #149
Ditto, thanks for update.

[2022-01-04 22:04] vinnytwice opened #150 "A little confused about initialisation"
I'm a bit confused abut how to initialise the package properly given the Stripe terminology.

App => my platform , which has an AccountId and a publishable key.
Account => any seller connected to my platform.
Customer => any buyer paying to my sellers.

As I first understood, I should initialise it with my platform publishable key as `Stripe.init(Environment.stripePublishableKey);` and my platform

[2022-01-05 20:25] vinnytwice commented on #150
Finally after a better look at the method description
[code]
I saw that I needed to create it using the Stipe api from my Node server:
[code]

retrieve it with a method in my repository that hits the endpoint:
[code]

and finally I Initialise customerSession:
[code]
The method is expecting an Ephemeral key in a json formatted string (which is not specified anywhere except in the error:
[code]
I di

[2022-01-05 20:25] #150 closed

[2022-01-05 20:37] vinnytwice opened #151 "Access to customer is denied with CustomerSession"
I was finally able to Initialise CustomerSession as I described here https://github.com/ezet/stripe-sdk/issues/150#issuecomment-1006051939 and I don't get any errors,  but then when I ty to retrieve customer's payment methods I get the error `The provided key 'ek_test_YW*********************************************************************_******GnLL' does not have access to account 'cus_Ku8ajLiFEs

[2022-01-23 12:32] ehcpdeveloper opened #152 "stripe_sdk 5.0.0 payment does not complete on Web: Not a valid URL"
in the details of error on Stripe, it shows return_url is empty.
Because new stripe code does not have parameter returnUrlForSca. This code works on mobile. ideally, same code should also work on web, but not... Apparently, the web side of stripe_sdk codebase is not synchronous with mobile part.
That is like this: mobile is updated to 5.0.0, but web expects parameters like 4.02, but returnUrlForSc

[2022-02-01 12:47] alikamal1 opened #154 "[Android 10] webview issue"
Android 10 requires hybrid composition webview in order to work correctly, this is critical for 3D Secure webpages which requires OTP, without hybrid composition some Android devices will have issue with displaying keyboard to enter OTP code in bank webpage.

 this PR #153 solve the issue by upgrading webview_flutter to [version 3.0.0](https://pub.dev/packages/webview_flutter/changelog) with suppo

[2022-02-09 15:09] preteambuy opened #155 "[IOS] Blank black and white screen before going to 3ds Confirmation Page"
Hi, just upgraded the version to 5.0.0-nullsafety.1 and when i try to pay with 3ds, it first shows a blank black and white screen before taking to the 3ds page for confirmation. Is this a bug?

[2022-02-09 20:50] #107 closed

[2022-02-09 20:51] #110 closed

[2022-02-09 20:51] ezet commented on #110
Web support is now fully supported

[2022-02-09 20:52] ezet commented on #154
Fixed on master :)

[2022-02-09 20:52] #154 closed

[2022-02-09 20:53] ezet commented on #152
Are you able to test the latest master? As far as I'm aware, web works there.

[2022-02-09 20:54] ezet commented on #151
Are you still having issues here? If so, I'll follow up

[2022-02-09 20:56] ezet commented on #147
Fixed on master.

[2022-02-09 20:56] #147 closed

[2022-02-09 21:08] ezet commented on #148
Working on a fix

[2022-02-09 21:08] #148 closed

[2022-02-09 21:08] ezet commented on #149
Done

[2022-02-09 21:08] #149 closed

[2022-02-09 21:09] ezet commented on #145
It's opt-in with a parameter

[2022-02-09 21:12] #145 closed

[2022-02-09 21:14] #143 closed

[2022-02-09 21:16] ezet commented on #142
I haven't considered this case. The check is there to make sure users don't accidentally use https on ios/android, as that is usually not what you want. I'll consider support for dynamic links in the future. The library is set up to automatically handle the deeplink for you after 3ds, using traditional deeplink mechanics.

[2022-02-09 21:17] ezet commented on #146
It's possible to specify API version if you manually instantiate the API client.

[2022-02-09 21:17] #146 closed

[2022-02-09 21:18] ezet commented on #117
Fixed

[2022-02-09 21:18] #117 closed

[2022-02-09 21:18] ezet commented on #118
Fixed

[2022-02-09 21:18] #118 closed

[2022-02-09 21:19] ezet commented on #131
Fixed

[2022-02-09 21:19] #131 closed

[2022-02-09 21:19] ezet commented on #134
Fixed

[2022-02-09 21:19] #134 closed

[2022-02-09 21:22] ezet commented on #140
`use_stripe_sdk` refers to Stripes own SDKs, and requires them to work. I'm not sure it's possible to support it, and it's certainly not a priority.

[2022-02-09 21:23] ezet commented on #138
master has been updated a lot, but at this point it's more of an internal project. I'll consider releasing a new version when I have time

[2022-02-09 21:23] #138 closed

[2022-02-09 21:24] ezet commented on #155
Could you try using the latest master commit?

[2022-02-09 22:36] preteambuy commented on #155
The lastest from master and also the 5.0.0-nullsafety.0 works fine. We wanted to try this "5.0.0-nullsafety.1" as the other ones opens the payments authorisation in a webview.

[2022-02-10 02:17] preteambuy commented on #155
btw the same happens on 5.0.0-nullsafety.0 as well. In the webview it first loads a blank black page and then a white page and only then the actual 3ds screen opens up. We are seeing the same in 5.0.0-nullsafety.1 but only difference is that it doesn't happen in webview.

[2022-02-10 08:34] stylehuan commented on #110
It's just an error

[2022-02-10 08:34] stylehuan commented on #110
It's just an error

[2022-02-14 08:46] vinnytwice commented on #151
@ezet yes, I still have this issue, is there anything O should look-up?

[2022-02-18 23:43] jbryanh opened #157 "Update Dependencies"
flutter_slidable dependency on 0.6.0-nullsafety.0 is old, newest version is 1.2.0. The old dependency is causing conflicts with other resources.  Able to update?

[2022-02-20 04:59] #103 closed

[2022-02-20 05:10] preteambuy commented on #155
any updates on this?

[2022-05-20 15:55] justoke opened #159 "Set default card if more than one attached to customer"
In the example I downloaded sometime ago I noticed this commented out with reference to a function that sets the default customer's card:

![image](https://user-images.githubusercontent.com/26506785/169566079-c214575e-9cd5-4b71-9c27-95763b86c522.png)

How should the default card be set for a list of cards from the PaymentMethodStore ?

Thank you.

[2022-05-27 02:48] gorillatapstudio opened #160 "confirmPayment on Android showed the following error: HandshakeException: Handshake error in client (OS Error: CERTIFICATE_VERIFY_FAILED: certificate is not yet valid"
Has anyone met the following issue?

When calling Stripe.instance.confirmPayment(..) on Android, I received the following error.

HandshakeException: Handshake error in client (OS Error:
CERTIFICATE_VERIFY_FAILED: certificate is not yet valid

sttripe-sdk Version: ^5.0.0-nullsafety.1

I don't have this error before upgrading to v5. The whole checkout workflow works in iOS and Web. I did add the in

[2022-06-06 14:46] justoke commented on #159
This is really an application concern. I came up with a scheme to allow user to press and hold a card to set it as the default against the customer's profile. This is independent of Stripe customer and easy to manage in this way

[2022-06-06 14:46] #159 closed

[2022-06-07 16:24] justoke opened #161 "3D Secure webform crashes on code entry"
We are having an issue with all our Barclays users - we have in fact lost 30 percent of our customers as they are unable to complete the authentication step using the web form provided by Barclays. This may be a web view issue, but we see the similar behavior on iOS and Android.

When authentication is required, the user is given choice between receiving a code via SMS or using their Barclays mobi

[2022-06-09 20:40] justoke commented on #161
Might be related to this https://github.com/flutter/flutter/issues/65502

[2022-06-18 19:21] justoke opened #162 "Example does not build with Android v1 embedding"
Just an FYI, the example can't be built as the project uses Android v1 embedding. I'm sure most people would be using the latest project templates so maybe the example could be updated to v2.

![image](https://user-images.githubusercontent.com/26506785/174453496-1352521d-e857-4a9f-9142-cd1dd85b2522.png)

Thank you.

[2022-06-18 19:26] justoke commented on #161
Turns out this is not limited to a specific bank but rather to the way web view works in older Android and iOS versions. Difficult to pin it down because it works most of the time, except for about 20% of people in our customer base.

[2022-06-18 19:26] #161 closed

[2022-06-30 08:54] FallenRiteMonk commented on #84
any update?

[2022-09-28 17:08] ezet commented on #84
This is now supported, using https://pub.dev/packages/pay :)

[2022-09-28 17:08] #84 closed

[2022-09-28 17:09] ezet commented on #157
Fixed

[2022-09-28 17:09] #157 closed

[2022-09-28 17:10] ezet commented on #59
Web views are not recommended for security-sensitive applications

[2022-09-28 17:10] #59 closed

[2022-09-28 17:13] ezet commented on #109
Not in scope of this library. You can use whichever approach you want to get card details, and then tokenize it with the tokenization methods this library offers, and proceed to use it with Stripe however you want.

[2022-09-28 17:13] #109 closed

[2022-09-28 17:13] #132 closed

[2022-09-28 17:15] #140 closed

[2022-09-28 17:17] ezet commented on #152
Web works fine now

[2022-09-28 17:17] #152 closed

[2022-09-28 17:18] ezet commented on #160
SSL issue with your server

[2022-09-28 17:18] #160 closed